openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Product Categories API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Product Categories
paths:
  /product-categories:
    get:
      summary: Get product categories
      tags:
      - Product Categories
      parameters:
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?name|-?position)(,(?!$))?)+$
          example:
          - id
          - -id
          - name
          - -name
          - position
          - -position
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((products|parentCategory|taxes)(,(?!$))?)+$
          example: products
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: '[0-9]+'
                          example: '1'
                        type:
                          type: string
                          enum:
                          - ProductCategory
                          example: ProductCategory
                        attributes:
                          type: object
                          properties:
                            enableOnlineMenu:
                              type: boolean
                              example: true
                            enableQrMenu:
                              type: boolean
                              example: true
                            iconName:
                              type:
                              - string
                              - 'null'
                              example: bebidas-aguas
                            name:
                              type: string
                              minLength: 5
                              maxLength: 90
                              example: Drinks
                            preparationTime:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                            position:
                              type: number
                              example: 50
                            expressTakeawaySettings:
                              type: object
                              additionalProperties: false
                              properties:
                                active:
                                  type: boolean
                                  example: true
                                order:
                                  type: integer
                                  minimum: 0
                                  example: 50
                                color:
                                  type: string
                                  pattern: ^#([A-F0-9]{6}|[A-F0-9]{3})$
                                  example: '#AABBCC'
                        relationships:
                          type: object
                          properties:
                            kitchen:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - Kitchen
                                      example: Kitchen
                            parentCategory:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - ProductCategory
                                      example: ProductCategory
      operationId: getProductCategories
      x-operation-id-source: derived
    post:
      summary: Create product category
      tags:
      - Product Categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                additionalProperties: false
                required:
                - data
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required:
                    - type
                    - attributes
                    properties:
                      type:
                        type: string
                        enum:
                        - ProductCategory
                        example: ProductCategory
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - name
                        properties:
                          name:
                            type: string
                            minLength: 1
                            maxLength: 90
                            example: Drinks
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          kitchen:
                            type: object
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              data:
                                type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Kitchen
                                    example: Kitchen
              - type: object
                additionalProperties: false
                required:
                - bulk:data
                properties:
                  bulk:data:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      required:
                      - type
                      - attributes
                      properties:
                        type:
                          type: string
                          enum:
                          - ProductCategory
                          example: ProductCategory
                        attributes:
                          type: object
                          additionalProperties: false
                          required:
                          - name
                          properties:
                            name:
                              type: string
                              minLength: 1
                              maxLength: 90
                              example: Drinks
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            kitchen:
                              type: object
                              additionalProperties: false
                              required:
                              - data
                              properties:
                                data:
                                  type: object
                                  additionalProperties: false
                                  required:
                                  - id
                                  - type
                                  properties:
                                    id:
                                      type: string
                                      pattern: ^\d{1,10}$
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - Kitchen
                                      example: Kitchen
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: '[0-9]+'
                        example: '1'
                      type:
                        type: string
                        enum:
                        - ProductCategory
                        example: ProductCategory
                      attributes:
                        type: object
                        properties:
                          enableOnlineMenu:
                            type: boolean
                            example: true
                          enableQrMenu:
                            type: boolean
                            example: true
                          iconName:
                            type:
                            - string
                            - 'null'
                            example: bebidas-aguas
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Drinks
                          preparationTime:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                          position:
                            type: number
                            example: 50
                          expressTakeawaySettings:
                            type: object
                            additionalProperties: false
                            properties:
                              active:
                                type: boolean
                                example: true
                              order:
                                type: integer
                                minimum: 0
                                example: 50
                              color:
                                type: string
                                pattern: ^#([A-F0-9]{6}|[A-F0-9]{3})$
                                example: '#AABBCC'
                      relationships:
                        type: object
                        properties:
                          kitchen:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Kitchen
                                    example: Kitchen
                          parentCategory:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductCategory
                                    example: ProductCategory
      operationId: postProductCategories
      x-operation-id-source: derived
  /product-categories/{id}:
    get:
      summary: Get product category
      tags:
      - Product Categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((products|parentCategory|taxes)(,(?!$))?)+$
          example: products
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: '[0-9]+'
                        example: '1'
                      type:
                        type: string
                        enum:
                        - ProductCategory
                        example: ProductCategory
                      attributes:
                        type: object
                        properties:
                          enableOnlineMenu:
                            type: boolean
                            example: true
                          enableQrMenu:
                            type: boolean
                            example: true
                          iconName:
                            type:
                            - string
                            - 'null'
                            example: bebidas-aguas
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Drinks
                          preparationTime:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                          position:
                            type: number
                            example: 50
                          expressTakeawaySettings:
                            type: object
                            additionalProperties: false
                            properties:
                              active:
                                type: boolean
                                example: true
                              order:
                                type: integer
                                minimum: 0
                                example: 50
                              color:
                                type: string
                                pattern: ^#([A-F0-9]{6}|[A-F0-9]{3})$
                                example: '#AABBCC'
                      relationships:
                        type: object
                        properties:
                          kitchen:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Kitchen
                                    example: Kitchen
                          parentCategory:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductCategory
                                    example: ProductCategory
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getProductCategoriesById
      x-operation-id-source: derived
    patch:
      summary: Update product category
      tags:
      - Product Categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - ProductCategory
                      example: ProductCategory
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        enableOnlineMenu:
                          type: boolean
                          example: true
                        iconName:
                          type: string
                          example: bebidas-aguas
                        name:
                          type: string
                          minLength: 1
                          maxLength: 90
                          example: Drinks
                        expressTakeawaySettings:
                          type: object
                          additionalProperties: false
                          properties:
                            active:
                              type: boolean
                              example: true
                            order:
                              type: integer
                              minimum: 0
                              example: 50
                            color:
                              type: string
                              pattern: ^#([A-F0-9]{6}|[A-F0-9]{3})$
                              example: '#AABBCC'
                    relationships:
                      type: object
                      additionalProperties: false
                      properties:
                        kitchen:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - Kitchen
                                  example: Kitchen
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: '[0-9]+'
                        example: '1'
                      type:
                        type: string
                        enum:
                        - ProductCategory
                        example: ProductCategory
                      attributes:
                        type: object
                        properties:
                          enableOnlineMenu:
                            type: boolean
                            example: true
                          enableQrMenu:
                            type: boolean
                            example: true
                          iconName:
                            type:
                            - string
                            - 'null'
                            example: bebidas-aguas
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Drinks
                          preparationTime:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                          position:
                            type: number
                            example: 50
                          expressTakeawaySettings:
                            type: object
                            additionalProperties: false
                            properties:
                              active:
                                type: boolean
                                example: true
                              order:
                                type: integer
                                minimum: 0
                                example: 50
                              color:
                                type: string
                                pattern: ^#([A-F0-9]{6}|[A-F0-9]{3})$
                                example: '#AABBCC'
                      relationships:
                        type: object
                        properties:
                          kitchen:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Kitchen
                                    example: Kitchen
                          parentCategory:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductCategory
                                    example: ProductCategory
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchProductCategoriesById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
