openapi: 3.1.0
info:
  version: v1alpha1
  title: Fudo Customers Payment Methods API
  description: "# Overview\n\n## Introduction\nThis document describes how to make use of the Fudo API. In order to use\nthe API, you must first have created an account in Fudo.\n\nYou can access the openapi spec yaml file\n[here](https://api.fu.do/v1alpha1/openapi.yml).\n\n## Authentication\nAuthentication is through an access token, sending the token in each\nrequest within the `Authorization` header. In order to obtain the token,\nyou must first have the access credentials `apiKey` and `apiSecret`.\n\n### Access credentials\nIf you do not yet have an `apiKey` and `apiSecret`, write to soporte@fu.do\nindicating the name of the account in Fudo and the user of the account to\nwhich you want to give API access.\n\nWe recommend creating a user especially for API access , in order to keep\nregular system users separated from users used for API access. E.g.\napi@mirestaurante. Keep in mind that the actions that can be done through\nthe API will depend on the role assigned to the user associated to the\ntoken.\n\n### Obtaining the token\nTo obtain the token, a request must be sent to the authentication endpoint\nwith the access credentials. It is important to send the `Content-Type`\nheader as `application/json`.\n\nThe authentication endpoint is `https://auth.fu.do/api`.\n\nExample:\n\n```terminal\ncurl -X POST https://auth.fu.do/api \\\n     -d '{\"apiKey\":\"123456\",\"apiSecret\":\"654321\"}' \\\n     -H \"Accept: application/json\" \\\n     -H \"Content-Type: application/json\"\n```\n\nAs a response, the access token will be obtained.\n\n```json\n{\"token\":\"1234567890\", exp: \"1645387452\"}\n```\n\nThe returned token will be the one that must be sent later in each request\nmade to the API, within the `Authorization` header, prefixed with the\n`Bearer` value, for example, `Authorization: Bearer 1234567890`.\n\n### Token expiration\nThe token lasts for 24 hours, after this time it can no longer be used and\na new token must be obtained. The expiration date is included in the `exp`\nattribute in the json response as an integer number of seconds since the\nEpoch.\n\nThis makes possible to know in advance when the token will expire and to\nrenew it if it has already expired at the time of using it again, or the\nexpiration date is approaching.\n\n## Pagination\nMost of the endpoints for retrieving collections (customers, sales, etc.)\naccept two query params for indicating the number of items to return (page\nsize) and the current page number (offset).\n\n- `page[size]`\n- `page[number]`\n\nBy default, the page size is 250 and the default page number is 1.\n\nCurrently, there is no way to get the total number of items. The way to get\nall the items is to keep doing requests until the number of items received\nis lower than the page size. That indicates there are no more items to\nretrieve.\n\nThe max items allowed per page is 500. In order to minimize the number of\nrequest it is possible to send this max value in the `size` param instead\nof using the default.\n\nE.g:\n\n```\nhttps://api.fu.do/v1alpha1/sales?page[size]=500&page[number]=2\n```\n"
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Payment Methods
paths:
  /payment-methods:
    get:
      summary: Get payment methods
      tags:
      - Payment Methods
      parameters:
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|)(,(?!$))?)+$
          example:
          - id
          - -id
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - PaymentMethod
                          example: PaymentMethod
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              example: Cash
                            active:
                              type: boolean
                              example: true
                            code:
                              type: string
                              example: cash
                            position:
                              type: number
                              example: 1000
                            builtIn:
                              type: boolean
                            forExpenses:
                              type: boolean
                            forSales:
                              type: boolean
                            supervised:
                              type: boolean
                            kind:
                              type: string
                              enum:
                              - DEBIT-CARD
                              - CREDIT-CARD
                              - CASH
                              - HOUSE-ACCOUNT
                              - PIX
                              - VOUCHER
                              - CHECK
                              - BANK-SLIP
                              - BANK-TRANSFER
                              - OTHER
                            flag:
                              type: string
                              enum:
                              - VISA
                              - MASTER
                              - AMEX
                              - CABAL
                              - MAESTRO
                              - DINNERS
                              - REDCOMPRA
                              - CARNET
                              - MAGNA
                              - ELO
                              - HIPER
                              - OTHER
                            processor:
                              type: string
                              example: Banco Nación
                            feePercentage:
                              type: number
                              minimum: 0
                              maximum: 100
                            payoutType:
                              type: string
                              enum:
                              - FIXED-DELAY-BUSINESS
                              - FIXED-DELAY-CALENDAR
                              - WINDOW-BUSINESS
                              - WINDOW-CALENDAR
                            payoutDelay:
                              type: integer
                              minimum: 0
                            payoutWindowFrequency:
                              type: string
                              enum:
                              - WEEKLY
                              - SEMIMONTHLY
                              - MONTHLY
                            payoutWindowOffset:
                              type: integer
                              minimum: 0
                              maximum: 31
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
  /payment-methods/{id}:
    get:
      summary: Get payment method
      tags:
      - Payment Methods
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - PaymentMethod
                        example: PaymentMethod
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Cash
                          active:
                            type: boolean
                            example: true
                          code:
                            type: string
                            example: cash
                          position:
                            type: number
                            example: 1000
                          builtIn:
                            type: boolean
                          forExpenses:
                            type: boolean
                          forSales:
                            type: boolean
                          supervised:
                            type: boolean
                          kind:
                            type: string
                            enum:
                            - DEBIT-CARD
                            - CREDIT-CARD
                            - CASH
                            - HOUSE-ACCOUNT
                            - PIX
                            - VOUCHER
                            - CHECK
                            - BANK-SLIP
                            - BANK-TRANSFER
                            - OTHER
                          flag:
                            type: string
                            enum:
                            - VISA
                            - MASTER
                            - AMEX
                            - CABAL
                            - MAESTRO
                            - DINNERS
                            - REDCOMPRA
                            - CARNET
                            - MAGNA
                            - ELO
                            - HIPER
                            - OTHER
                          processor:
                            type: string
                            example: Banco Nación
                          feePercentage:
                            type: number
                            minimum: 0
                            maximum: 100
                          payoutType:
                            type: string
                            enum:
                            - FIXED-DELAY-BUSINESS
                            - FIXED-DELAY-CALENDAR
                            - WINDOW-BUSINESS
                            - WINDOW-CALENDAR
                          payoutDelay:
                            type: integer
                            minimum: 0
                          payoutWindowFrequency:
                            type: string
                            enum:
                            - WEEKLY
                            - SEMIMONTHLY
                            - MONTHLY
                          payoutWindowOffset:
                            type: integer
                            minimum: 0
                            maximum: 31
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
