openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Payment Methods API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Payment Methods
paths:
  /payment-methods:
    get:
      summary: Get payment methods
      tags:
      - Payment Methods
      parameters:
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|)(,(?!$))?)+$
          example:
          - id
          - -id
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - PaymentMethod
                          example: PaymentMethod
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              example: Cash
                            active:
                              type: boolean
                              example: true
                            code:
                              type: string
                              example: cash
                            position:
                              type: number
                              example: 1000
                            builtIn:
                              type: boolean
                            forExpenses:
                              type: boolean
                            forSales:
                              type: boolean
                            supervised:
                              type: boolean
                            kind:
                              type: string
                              enum:
                              - DEBIT-CARD
                              - CREDIT-CARD
                              - CASH
                              - HOUSE-ACCOUNT
                              - PIX
                              - VOUCHER
                              - CHECK
                              - BANK-SLIP
                              - BANK-TRANSFER
                              - OTHER
                            flag:
                              type: string
                              enum:
                              - VISA
                              - MASTER
                              - AMEX
                              - CABAL
                              - MAESTRO
                              - DINNERS
                              - REDCOMPRA
                              - CARNET
                              - MAGNA
                              - ELO
                              - HIPER
                              - OTHER
                            processor:
                              type: string
                              example: Banco Nación
                            feePercentage:
                              type: number
                              minimum: 0
                              maximum: 100
                            payoutType:
                              type: string
                              enum:
                              - FIXED-DELAY-BUSINESS
                              - FIXED-DELAY-CALENDAR
                              - WINDOW-BUSINESS
                              - WINDOW-CALENDAR
                            payoutDelay:
                              type: integer
                              minimum: 0
                            payoutWindowFrequency:
                              type: string
                              enum:
                              - WEEKLY
                              - SEMIMONTHLY
                              - MONTHLY
                            payoutWindowOffset:
                              type: integer
                              minimum: 0
                              maximum: 31
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
      operationId: getPaymentMethods
      x-operation-id-source: derived
  /payment-methods/{id}:
    get:
      summary: Get payment method
      tags:
      - Payment Methods
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - PaymentMethod
                        example: PaymentMethod
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Cash
                          active:
                            type: boolean
                            example: true
                          code:
                            type: string
                            example: cash
                          position:
                            type: number
                            example: 1000
                          builtIn:
                            type: boolean
                          forExpenses:
                            type: boolean
                          forSales:
                            type: boolean
                          supervised:
                            type: boolean
                          kind:
                            type: string
                            enum:
                            - DEBIT-CARD
                            - CREDIT-CARD
                            - CASH
                            - HOUSE-ACCOUNT
                            - PIX
                            - VOUCHER
                            - CHECK
                            - BANK-SLIP
                            - BANK-TRANSFER
                            - OTHER
                          flag:
                            type: string
                            enum:
                            - VISA
                            - MASTER
                            - AMEX
                            - CABAL
                            - MAESTRO
                            - DINNERS
                            - REDCOMPRA
                            - CARNET
                            - MAGNA
                            - ELO
                            - HIPER
                            - OTHER
                          processor:
                            type: string
                            example: Banco Nación
                          feePercentage:
                            type: number
                            minimum: 0
                            maximum: 100
                          payoutType:
                            type: string
                            enum:
                            - FIXED-DELAY-BUSINESS
                            - FIXED-DELAY-CALENDAR
                            - WINDOW-BUSINESS
                            - WINDOW-CALENDAR
                          payoutDelay:
                            type: integer
                            minimum: 0
                          payoutWindowFrequency:
                            type: string
                            enum:
                            - WEEKLY
                            - SEMIMONTHLY
                            - MONTHLY
                          payoutWindowOffset:
                            type: integer
                            minimum: 0
                            maximum: 31
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getPaymentMethodsById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
