openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Tables API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Tables
paths:
  /tables:
    get:
      summary: Get tables
      tags:
      - Tables
      parameters:
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?number)(,(?!$))?)+$
          example:
          - id
          - -id
          - number
          - -number
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((activeSales|activeSales.customer|activeSales.payments|activeSales.tips|activeSales.items|activeSales.discounts|activeSales.items.subitems|activeSales.items.product|activeSales.items.subitems.product|activeSales.items.product.invoiceInformation|activeSales.items.subitems.product.invoiceInformation|activeSales.saleIdentifier|activeSales.serviceCosts|room)(,(?!$))?)+$
          example: activeSales
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - Table
                          example: Table
                        attributes:
                          type: object
                          properties:
                            column:
                              type: number
                              minimum: 0
                              example: 1
                            number:
                              type: number
                              example: 10
                            row:
                              type: number
                              minimum: 0
                              example: 1
                            shape:
                              type: string
                              enum:
                              - '0'
                              - '1'
                              example: '0'
                            size:
                              type: string
                              enum:
                              - s
                              - l
                              example: s
                        relationships:
                          type: object
                          properties:
                            room:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - Room
                                      example: Room
      operationId: getTables
      x-operation-id-source: derived
    post:
      summary: Create table
      tags:
      - Tables
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - Table
                      example: Table
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - number
                      properties:
                        number:
                          type: number
                          example: 3
                    relationships:
                      type: object
                      additionalProperties: false
                      required:
                      - room
                      properties:
                        room:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - Room
                                  example: Room
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Table
                        example: Table
                      attributes:
                        type: object
                        properties:
                          column:
                            type: number
                            minimum: 0
                            example: 1
                          number:
                            type: number
                            example: 10
                          row:
                            type: number
                            minimum: 0
                            example: 1
                          shape:
                            type: string
                            enum:
                            - '0'
                            - '1'
                            example: '0'
                          size:
                            type: string
                            enum:
                            - s
                            - l
                            example: s
                      relationships:
                        type: object
                        properties:
                          room:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Room
                                    example: Room
      operationId: postTables
      x-operation-id-source: derived
  /tables/{id}:
    get:
      summary: Get table
      tags:
      - Tables
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((activeSales|activeSales.customer|activeSales.payments|activeSales.tips|activeSales.items|activeSales.discounts|activeSales.items.subitems|activeSales.items.product|activeSales.items.subitems.product|activeSales.items.product.invoiceInformation|activeSales.items.subitems.product.invoiceInformation|activeSales.saleIdentifier|activeSales.serviceCosts|room)(,(?!$))?)+$
          example: activeSales
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Table
                        example: Table
                      attributes:
                        type: object
                        properties:
                          column:
                            type: number
                            minimum: 0
                            example: 1
                          number:
                            type: number
                            example: 10
                          row:
                            type: number
                            minimum: 0
                            example: 1
                          shape:
                            type: string
                            enum:
                            - '0'
                            - '1'
                            example: '0'
                          size:
                            type: string
                            enum:
                            - s
                            - l
                            example: s
                      relationships:
                        type: object
                        properties:
                          room:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Room
                                    example: Room
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getTablesById
      x-operation-id-source: derived
    patch:
      summary: Update table
      tags:
      - Tables
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - Table
                      example: Table
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        number:
                          type: number
                          example: 3
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Table
                        example: Table
                      attributes:
                        type: object
                        properties:
                          column:
                            type: number
                            minimum: 0
                            example: 1
                          number:
                            type: number
                            example: 10
                          row:
                            type: number
                            minimum: 0
                            example: 1
                          shape:
                            type: string
                            enum:
                            - '0'
                            - '1'
                            example: '0'
                          size:
                            type: string
                            enum:
                            - s
                            - l
                            example: s
                      relationships:
                        type: object
                        properties:
                          room:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Room
                                    example: Room
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchTablesById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
