openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Kitchens API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Kitchens
paths:
  /kitchens:
    get:
      summary: Get kitchens
      tags:
      - Kitchens
      parameters:
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?name)(,(?!$))?)+$
          example:
          - id
          - -id
          - name
          - -name
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - Kitchen
                          example: Kitchen
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              maxLength: 255
                              example: Main kitchen
                            combinedReceiptPrinting:
                              type: boolean
      operationId: getKitchens
      x-operation-id-source: derived
    post:
      summary: Create kitchen
      tags:
      - Kitchens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - Kitchen
                      example: Kitchen
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - name
                      properties:
                        name:
                          type: string
                          minLength: 1
                          maxLength: 255
                          example: Main kitchen
                        combinedReceiptPrinting:
                          type: boolean
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Kitchen
                        example: Kitchen
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            maxLength: 255
                            example: Main kitchen
                          combinedReceiptPrinting:
                            type: boolean
      operationId: postKitchens
      x-operation-id-source: derived
  /kitchens/{id}:
    get:
      summary: Get kitchen
      tags:
      - Kitchens
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Kitchen
                        example: Kitchen
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            maxLength: 255
                            example: Main kitchen
                          combinedReceiptPrinting:
                            type: boolean
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getKitchensById
      x-operation-id-source: derived
    patch:
      summary: Update kitchen
      tags:
      - Kitchens
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - Kitchen
                      example: Kitchen
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        name:
                          type: string
                          minLength: 1
                          maxLength: 255
                          example: Main kitchen
                        combinedReceiptPrinting:
                          type: boolean
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Kitchen
                        example: Kitchen
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            maxLength: 255
                            example: Main kitchen
                          combinedReceiptPrinting:
                            type: boolean
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchKitchensById
      x-operation-id-source: derived
    delete:
      summary: Delete kitchen
      tags:
      - Kitchens
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      responses:
        '200':
          description: A kitchen
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Kitchen
                        example: Kitchen
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            maxLength: 255
                            example: Main kitchen
                          combinedReceiptPrinting:
                            type: boolean
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: deleteKitchensById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
