openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Customers API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Customers
paths:
  /customers:
    get:
      summary: Get customers
      tags:
      - Customers
      parameters:
      - name: filter
        in: query
        description: Object in the form of filter[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            active:
              type: string
              pattern: ^eq\.(true|false)$
              example: eq.true
            firstSaleDate:
              type: string
              pattern: (^(gte|lte)\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?)|(^and\(gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\,lte.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\))
              example: and(gte.2020-05-11T23:15:00Z,lte.2020-05-11T23:15:00Z)
            houseAccountEnabled:
              type: string
              pattern: ^eq\.(true|false)$
              example: eq.true
            lastSaleDate:
              type: string
              pattern: (^(gte|lte)\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?)|(^and\(gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\,lte.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\))
              example: and(gte.2020-05-11T23:15:00Z,lte.2020-05-11T23:15:00Z)
            origin:
              type: string
              pattern: ^(eq\.(ONLINE-MENU|RESERVATION)|is\.null)$
              example: eq.ONLINE-MENU
            salesCount:
              type: string
              pattern: (^(eq|gte|lte|gt|lt)\.\d+$)|(^and\((gte|gt)\.\d+,(lte|lt)\.\d+\))
              example: and(gte.5,lte.20)
            '@all':
              type: string
              pattern: ^fts\..{1,255}$
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?name|-?salesCount)(,(?!$))?)+$
          example:
          - id
          - -id
          - name
          - -name
          - salesCount
          - -salesCount
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - Customer
                          example: Customer
                        attributes:
                          type: object
                          properties:
                            active:
                              type: boolean
                              example: true
                            address:
                              type: string
                              example: '["Calle falsa", "123", "", "Springfield"]'
                            birthDate:
                              type: string
                              format: date
                              example: '1990-05-15'
                            comment:
                              type: string
                              example: comment
                            createdAt:
                              type: string
                              format: date-time
                              example: '2020-05-11T23:15:00.000Z'
                            discountPercentage:
                              type: number
                              example: 100.5
                            email:
                              type: string
                              example: paula@example.com
                            fiscalAddress:
                              type: object
                              properties:
                                postalCode:
                                  type: string
                                  example: 12345-678
                                addressType:
                                  type: string
                                  example: Commercial
                                state:
                                  type: string
                                  example: SP
                                municipality:
                                  type: string
                                  example: São Paulo
                                city:
                                  type: string
                                  example: São Paulo
                                neighborhood:
                                  type: string
                                  example: Centro
                                street:
                                  type: string
                                  example: Avenida Paulista
                                number:
                                  type: string
                                  example: '1000'
                                economicActivity:
                                  type: string
                                  example: Comercio al por menor
                                countryEntity:
                                  type: string
                                  example: '11'
                                countrySubentity:
                                  type: string
                                  example: '11001'
                            firstSaleDate:
                              type: string
                              format: date-time
                              example: '2020-05-11T23:15:00.000Z'
                            historicalSalesCount:
                              type: integer
                              example: 25
                            historicalTotalSpent:
                              type: number
                              example: 1250.75
                            houseAccountBalance:
                              type: number
                              example: 100.5
                            houseAccountEnabled:
                              type: boolean
                              example: true
                            lastSaleDate:
                              type: string
                              format: date-time
                              example: '2020-05-11T23:15:00.000Z'
                            name:
                              type: string
                              example: Paula
                            origin:
                              type: string
                              example: ONLINE-MENU
                            phone:
                              type: string
                              example: +54 11 1234 1234
                            salesCount:
                              type: integer
                              example: 12
                            vatNumber:
                              type: string
                              example: 30-3312341234-9
                        relationships:
                          type: object
                          properties:
                            paymentMethod:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - PaymentMethod
                                      example: PaymentMethod
      operationId: getCustomers
      x-operation-id-source: derived
    post:
      summary: Create customer
      tags:
      - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - Customer
                      example: Customer
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - name
                      properties:
                        active:
                          type: boolean
                          example: true
                        address:
                          type: string
                          example: '["Calle falsa", "123", "", "Springfield"]'
                        birthDate:
                          type: string
                          format: date
                          example: '1990-05-15'
                        comment:
                          type: string
                          minLength: 1
                          maxLength: 90
                          example: Comentario
                        discountPercentage:
                          type: number
                          minimum: 1
                          maximum: 100
                          example: 100
                        houseAccountEnabled:
                          type: boolean
                          example: true
                        name:
                          type: string
                          minLength: 1
                          maxLength: 90
                          example: Paula
                        email:
                          type: string
                          minLength: 1
                          maxLength: 90
                          format: email
                          example: paula@example.com
                        origin:
                          type: string
                          enum:
                          - RESERVATION
                          example: RESERVATION
                        fiscalAddress:
                          type: object
                          additionalProperties: false
                          properties:
                            postalCode:
                              type: string
                              maxLength: 20
                              example: 12345-678
                            addressType:
                              type: string
                              maxLength: 50
                              example: Commercial
                            state:
                              type: string
                              maxLength: 50
                              example: SP
                            municipality:
                              type: string
                              maxLength: 100
                              example: São Paulo
                            city:
                              type: string
                              maxLength: 100
                              example: São Paulo
                            neighborhood:
                              type: string
                              maxLength: 100
                              example: Centro
                            street:
                              type: string
                              maxLength: 200
                              example: Avenida Paulista
                            number:
                              type: string
                              maxLength: 20
                              example: '1000'
                            economicActivity:
                              type: string
                              maxLength: 100
                              example: Comercio al por menor
                            countryEntity:
                              type: string
                              maxLength: 50
                              example: '11'
                            countrySubentity:
                              type: string
                              maxLength: 50
                              example: '11001'
                        phone:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: +54 11 1234 1234
                        vatNumber:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: 30-3312341234-9
                    relationships:
                      type: object
                      additionalProperties: false
                      required:
                      - paymentMethod
                      properties:
                        paymentMethod:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: \d{1,10}
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - PaymentMethod
                                  example: PaymentMethod
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Customer
                        example: Customer
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          address:
                            type: string
                            example: '["Calle falsa", "123", "", "Springfield"]'
                          birthDate:
                            type: string
                            format: date
                            example: '1990-05-15'
                          comment:
                            type: string
                            example: comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          discountPercentage:
                            type: number
                            example: 100.5
                          email:
                            type: string
                            example: paula@example.com
                          fiscalAddress:
                            type: object
                            properties:
                              postalCode:
                                type: string
                                example: 12345-678
                              addressType:
                                type: string
                                example: Commercial
                              state:
                                type: string
                                example: SP
                              municipality:
                                type: string
                                example: São Paulo
                              city:
                                type: string
                                example: São Paulo
                              neighborhood:
                                type: string
                                example: Centro
                              street:
                                type: string
                                example: Avenida Paulista
                              number:
                                type: string
                                example: '1000'
                              economicActivity:
                                type: string
                                example: Comercio al por menor
                              countryEntity:
                                type: string
                                example: '11'
                              countrySubentity:
                                type: string
                                example: '11001'
                          firstSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          historicalSalesCount:
                            type: integer
                            example: 25
                          historicalTotalSpent:
                            type: number
                            example: 1250.75
                          houseAccountBalance:
                            type: number
                            example: 100.5
                          houseAccountEnabled:
                            type: boolean
                            example: true
                          lastSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          name:
                            type: string
                            example: Paula
                          origin:
                            type: string
                            example: ONLINE-MENU
                          phone:
                            type: string
                            example: +54 11 1234 1234
                          salesCount:
                            type: integer
                            example: 12
                          vatNumber:
                            type: string
                            example: 30-3312341234-9
                      relationships:
                        type: object
                        properties:
                          paymentMethod:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PaymentMethod
                                    example: PaymentMethod
      operationId: postCustomers
      x-operation-id-source: derived
  /customers/{id}:
    get:
      summary: Get customer
      tags:
      - Customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      - name: filter
        in: query
        description: Object in the form of filter[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            active:
              type: string
              pattern: ^eq\.(true|false)$
              example: eq.true
            firstSaleDate:
              type: string
              pattern: (^(gte|lte)\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?)|(^and\(gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\,lte.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\))
              example: and(gte.2020-05-11T23:15:00Z,lte.2020-05-11T23:15:00Z)
            houseAccountEnabled:
              type: string
              pattern: ^eq\.(true|false)$
              example: eq.true
            lastSaleDate:
              type: string
              pattern: (^(gte|lte)\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?)|(^and\(gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\,lte.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\))
              example: and(gte.2020-05-11T23:15:00Z,lte.2020-05-11T23:15:00Z)
            origin:
              type: string
              pattern: ^(eq\.(ONLINE-MENU|RESERVATION)|is\.null)$
              example: eq.ONLINE-MENU
            salesCount:
              type: string
              pattern: (^(eq|gte|lte|gt|lt)\.\d+$)|(^and\((gte|gt)\.\d+,(lte|lt)\.\d+\))
              example: and(gte.5,lte.20)
            '@all':
              type: string
              pattern: ^fts\..{1,255}$
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Customer
                        example: Customer
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          address:
                            type: string
                            example: '["Calle falsa", "123", "", "Springfield"]'
                          birthDate:
                            type: string
                            format: date
                            example: '1990-05-15'
                          comment:
                            type: string
                            example: comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          discountPercentage:
                            type: number
                            example: 100.5
                          email:
                            type: string
                            example: paula@example.com
                          fiscalAddress:
                            type: object
                            properties:
                              postalCode:
                                type: string
                                example: 12345-678
                              addressType:
                                type: string
                                example: Commercial
                              state:
                                type: string
                                example: SP
                              municipality:
                                type: string
                                example: São Paulo
                              city:
                                type: string
                                example: São Paulo
                              neighborhood:
                                type: string
                                example: Centro
                              street:
                                type: string
                                example: Avenida Paulista
                              number:
                                type: string
                                example: '1000'
                              economicActivity:
                                type: string
                                example: Comercio al por menor
                              countryEntity:
                                type: string
                                example: '11'
                              countrySubentity:
                                type: string
                                example: '11001'
                          firstSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          historicalSalesCount:
                            type: integer
                            example: 25
                          historicalTotalSpent:
                            type: number
                            example: 1250.75
                          houseAccountBalance:
                            type: number
                            example: 100.5
                          houseAccountEnabled:
                            type: boolean
                            example: true
                          lastSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          name:
                            type: string
                            example: Paula
                          origin:
                            type: string
                            example: ONLINE-MENU
                          phone:
                            type: string
                            example: +54 11 1234 1234
                          salesCount:
                            type: integer
                            example: 12
                          vatNumber:
                            type: string
                            example: 30-3312341234-9
                      relationships:
                        type: object
                        properties:
                          paymentMethod:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PaymentMethod
                                    example: PaymentMethod
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getCustomersById
      x-operation-id-source: derived
    patch:
      summary: Update customer
      tags:
      - Customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - Customer
                      example: Customer
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        active:
                          type: boolean
                          example: true
                        address:
                          type: string
                          example: Address
                        birthDate:
                          anyOf:
                          - type: string
                            format: date
                            example: '1990-05-15'
                          - type: 'null'
                        comment:
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 90
                            example: Comentario
                          - type: 'null'
                        discountPercentage:
                          anyOf:
                          - type: number
                            minimum: 1
                            maximum: 100
                            example: 100
                          - type: 'null'
                        houseAccountEnabled:
                          type: boolean
                          example: true
                        name:
                          type: string
                          minLength: 1
                          maxLength: 90
                          example: Paula
                        email:
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 90
                            format: email
                            example: paula@example.com
                          - type: 'null'
                        fiscalAddress:
                          anyOf:
                          - type: object
                            additionalProperties: false
                            properties:
                              postalCode:
                                type: string
                                maxLength: 20
                                example: 12345-678
                              addressType:
                                type: string
                                maxLength: 50
                                example: Commercial
                              state:
                                type: string
                                maxLength: 50
                                example: SP
                              municipality:
                                type: string
                                maxLength: 100
                                example: São Paulo
                              city:
                                type: string
                                maxLength: 100
                                example: São Paulo
                              neighborhood:
                                type: string
                                maxLength: 100
                                example: Centro
                              street:
                                type: string
                                maxLength: 200
                                example: Avenida Paulista
                              number:
                                type: string
                                maxLength: 20
                                example: '1000'
                              economicActivity:
                                type: string
                                maxLength: 100
                                example: Comercio al por menor
                              countryEntity:
                                type: string
                                maxLength: 50
                                example: '11'
                              countrySubentity:
                                type: string
                                maxLength: 50
                                example: '11001'
                          - type: 'null'
                        phone:
                          anyOf:
                          - type: string
                            maxLength: 45
                            example: +54 11 1234 1234
                          - type: 'null'
                        vatNumber:
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 45
                            example: 30-3312341234-9
                          - type: 'null'
                    relationships:
                      type: object
                      additionalProperties: false
                      required:
                      - paymentMethod
                      properties:
                        paymentMethod:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: \d{1,10}
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - PaymentMethod
                                  example: PaymentMethod
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Customer
                        example: Customer
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          address:
                            type: string
                            example: '["Calle falsa", "123", "", "Springfield"]'
                          birthDate:
                            type: string
                            format: date
                            example: '1990-05-15'
                          comment:
                            type: string
                            example: comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          discountPercentage:
                            type: number
                            example: 100.5
                          email:
                            type: string
                            example: paula@example.com
                          fiscalAddress:
                            type: object
                            properties:
                              postalCode:
                                type: string
                                example: 12345-678
                              addressType:
                                type: string
                                example: Commercial
                              state:
                                type: string
                                example: SP
                              municipality:
                                type: string
                                example: São Paulo
                              city:
                                type: string
                                example: São Paulo
                              neighborhood:
                                type: string
                                example: Centro
                              street:
                                type: string
                                example: Avenida Paulista
                              number:
                                type: string
                                example: '1000'
                              economicActivity:
                                type: string
                                example: Comercio al por menor
                              countryEntity:
                                type: string
                                example: '11'
                              countrySubentity:
                                type: string
                                example: '11001'
                          firstSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          historicalSalesCount:
                            type: integer
                            example: 25
                          historicalTotalSpent:
                            type: number
                            example: 1250.75
                          houseAccountBalance:
                            type: number
                            example: 100.5
                          houseAccountEnabled:
                            type: boolean
                            example: true
                          lastSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          name:
                            type: string
                            example: Paula
                          origin:
                            type: string
                            example: ONLINE-MENU
                          phone:
                            type: string
                            example: +54 11 1234 1234
                          salesCount:
                            type: integer
                            example: 12
                          vatNumber:
                            type: string
                            example: 30-3312341234-9
                      relationships:
                        type: object
                        properties:
                          paymentMethod:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PaymentMethod
                                    example: PaymentMethod
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchCustomersById
      x-operation-id-source: derived
    delete:
      summary: Delete customer
      tags:
      - Customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      responses:
        '200':
          description: A customer
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Customer
                        example: Customer
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          address:
                            type: string
                            example: '["Calle falsa", "123", "", "Springfield"]'
                          birthDate:
                            type: string
                            format: date
                            example: '1990-05-15'
                          comment:
                            type: string
                            example: comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          discountPercentage:
                            type: number
                            example: 100.5
                          email:
                            type: string
                            example: paula@example.com
                          fiscalAddress:
                            type: object
                            properties:
                              postalCode:
                                type: string
                                example: 12345-678
                              addressType:
                                type: string
                                example: Commercial
                              state:
                                type: string
                                example: SP
                              municipality:
                                type: string
                                example: São Paulo
                              city:
                                type: string
                                example: São Paulo
                              neighborhood:
                                type: string
                                example: Centro
                              street:
                                type: string
                                example: Avenida Paulista
                              number:
                                type: string
                                example: '1000'
                              economicActivity:
                                type: string
                                example: Comercio al por menor
                              countryEntity:
                                type: string
                                example: '11'
                              countrySubentity:
                                type: string
                                example: '11001'
                          firstSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          historicalSalesCount:
                            type: integer
                            example: 25
                          historicalTotalSpent:
                            type: number
                            example: 1250.75
                          houseAccountBalance:
                            type: number
                            example: 100.5
                          houseAccountEnabled:
                            type: boolean
                            example: true
                          lastSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          name:
                            type: string
                            example: Paula
                          origin:
                            type: string
                            example: ONLINE-MENU
                          phone:
                            type: string
                            example: +54 11 1234 1234
                          salesCount:
                            type: integer
                            example: 12
                          vatNumber:
                            type: string
                            example: 30-3312341234-9
                      relationships:
                        type: object
                        properties:
                          paymentMethod:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PaymentMethod
                                    example: PaymentMethod
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: deleteCustomersById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
