openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Expense Categories API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Expense Categories
paths:
  /expense-categories:
    get:
      summary: Get expense categories
      tags:
      - Expense Categories
      parameters:
      - name: fields
        in: query
        description: Object in the form of fields[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            expenseCategory:
              type: string
              pattern: ^((active|financialCategory|name|parentCategory)(,(?!$))?)*$
              example: name
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?name)(,(?!$))?)+$
          example:
          - id
          - -id
          - name
          - -name
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: ^\d{1,10}$
                          example: '1'
                        type:
                          type: string
                          enum:
                          - ExpenseCategory
                          example: ExpenseCategory
                        attributes:
                          type: object
                          properties:
                            active:
                              type: boolean
                              example: true
                            name:
                              type: string
                              minLength: 5
                              maxLength: 90
                              example: Main
                            financialCategory:
                              type: string
                              enum:
                              - OPERATIONAL-EXPENSES
                              - GOODS-PURCHASES
                              - ADMINISTRATIVE-EXPENSES
                        relationships:
                          type: object
                          properties:
                            parentCategory:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  properties:
                                    id:
                                      type: string
                                      pattern: ^\d{1,10}$
                                    type:
                                      type: string
                                      enum:
                                      - ExpenseCategory
      operationId: getExpenseCategories
      x-operation-id-source: derived
    post:
      summary: Create expense category
      tags:
      - Expense Categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - ExpenseCategory
                      example: ExpenseCategory
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - name
                      properties:
                        active:
                          type: boolean
                          example: true
                        name:
                          type: string
                          minLength: 1
                          maxLength: 90
                          example: Drinks
                        financialCategory:
                          type: string
                          enum:
                          - ADMINISTRATIVE-EXPENSES
                          - GOODS-PURCHASES
                          - OPERATIONAL-EXPENSES
                    relationships:
                      type: object
                      additionalProperties: false
                      properties:
                        parentCategory:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - ExpenseCategory
                                  example: ExpenseCategory
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: ^\d{1,10}$
                        example: '1'
                      type:
                        type: string
                        enum:
                        - ExpenseCategory
                        example: ExpenseCategory
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Main
                          financialCategory:
                            type: string
                            enum:
                            - OPERATIONAL-EXPENSES
                            - GOODS-PURCHASES
                            - ADMINISTRATIVE-EXPENSES
                      relationships:
                        type: object
                        properties:
                          parentCategory:
                            type: object
                            required:
                            - data
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                  type:
                                    type: string
                                    enum:
                                    - ExpenseCategory
      operationId: postExpenseCategories
      x-operation-id-source: derived
  /expense-categories/{id}:
    get:
      summary: Get expense category
      tags:
      - Expense Categories
      parameters:
      - name: fields
        in: query
        description: Object in the form of fields[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            expenseCategory:
              type: string
              pattern: ^((active|financialCategory|name|parentCategory)(,(?!$))?)*$
              example: name
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: ^\d{1,10}$
                        example: '1'
                      type:
                        type: string
                        enum:
                        - ExpenseCategory
                        example: ExpenseCategory
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Main
                          financialCategory:
                            type: string
                            enum:
                            - OPERATIONAL-EXPENSES
                            - GOODS-PURCHASES
                            - ADMINISTRATIVE-EXPENSES
                      relationships:
                        type: object
                        properties:
                          parentCategory:
                            type: object
                            required:
                            - data
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                  type:
                                    type: string
                                    enum:
                                    - ExpenseCategory
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getExpenseCategoriesById
      x-operation-id-source: derived
    patch:
      summary: Update expense category
      tags:
      - Expense Categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: \d{1,10}
                      example: '1'
                    type:
                      type: string
                      enum:
                      - ExpenseCategory
                      example: ExpenseCategory
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        active:
                          type: boolean
                          example: true
                        name:
                          type: string
                          minLength: 1
                          maxLength: 90
                          example: Drinks
                        financialCategory:
                          type:
                          - string
                          - 'null'
                          enum:
                          - ADMINISTRATIVE-EXPENSES
                          - GOODS-PURCHASES
                          - OPERATIONAL-EXPENSES
                          - null
                    relationships:
                      type: object
                      additionalProperties: false
                      properties:
                        parentCategory:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - ExpenseCategory
                                  example: ExpenseCategory
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: ^\d{1,10}$
                        example: '1'
                      type:
                        type: string
                        enum:
                        - ExpenseCategory
                        example: ExpenseCategory
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Main
                          financialCategory:
                            type: string
                            enum:
                            - OPERATIONAL-EXPENSES
                            - GOODS-PURCHASES
                            - ADMINISTRATIVE-EXPENSES
                      relationships:
                        type: object
                        properties:
                          parentCategory:
                            type: object
                            required:
                            - data
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                  type:
                                    type: string
                                    enum:
                                    - ExpenseCategory
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchExpenseCategoriesById
      x-operation-id-source: derived
    delete:
      summary: Delete expense category
      tags:
      - Expense Categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      responses:
        '200':
          description: The deleted resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: ^\d{1,10}$
                        example: '1'
                      type:
                        type: string
                        enum:
                        - ExpenseCategory
                        example: ExpenseCategory
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Main
                          financialCategory:
                            type: string
                            enum:
                            - OPERATIONAL-EXPENSES
                            - GOODS-PURCHASES
                            - ADMINISTRATIVE-EXPENSES
                      relationships:
                        type: object
                        properties:
                          parentCategory:
                            type: object
                            required:
                            - data
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                  type:
                                    type: string
                                    enum:
                                    - ExpenseCategory
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: deleteExpenseCategoriesById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
