openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Users API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Users
paths:
  /users:
    get:
      summary: Get users
      tags:
      - Users
      parameters:
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?name)(,(?!$))?)+$
          example:
          - id
          - -id
          - name
          - -name
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((deliveryCashRegister|role|tablesCashRegister|takeAwayCashRegister)(,(?!$))?)+$
          example: role
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - User
                          example: User
                        attributes:
                          type: object
                          properties:
                            active:
                              type: boolean
                              example: true
                            admin:
                              type: boolean
                              example: false
                            email:
                              type: string
                              format: email
                              example: cosme@example.com
                            name:
                              type: string
                              minLength: 5
                              maxLength: 90
                              example: Cosme
                            phone:
                              type:
                              - string
                              - 'null'
                              example: '+5491150000000'
                            authPinEnabled:
                              type: boolean
                              example: false
                            promotionalCode:
                              type: string
                              example: F.E-RESTO.USER
                        relationships:
                          type: object
                          properties:
                            role:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - Role
                                      example: Role
                            deliveryCashRegister:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - CashRegister
                                      example: CashRegister
                            tablesCashRegister:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - CashRegister
                                      example: CashRegister
                            takeAwayCashRegister:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - CashRegister
                                      example: CashRegister
      operationId: getUsers
      x-operation-id-source: derived
    post:
      summary: Create user
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - User
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - email
                      - name
                      - password
                      - shortLogin
                      properties:
                        active:
                          type: boolean
                          example: true
                        admin:
                          type: boolean
                          example: false
                        shortLogin:
                          type: string
                          pattern: ^[\wñ.\-]+$
                          minLength: 1
                          maxLength: 90
                          example: cosme
                        email:
                          type: string
                          format: email
                          minLength: 1
                          maxLength: 90
                          example: cosme@example.com
                        name:
                          type: string
                          minLength: 5
                          maxLength: 255
                          example: Cosme
                        password:
                          type: string
                          minLength: 5
                          maxLength: 90
                          example: eipi5aiM
                        phone:
                          type:
                          - string
                          - 'null'
                          minLength: 1
                          maxLength: 255
                          example: '+5491150000000'
                        authPin:
                          type:
                          - string
                          - 'null'
                          minLength: 1
                          example: '1234'
                    relationships:
                      type: object
                      additionalProperties: false
                      required:
                      - role
                      properties:
                        role:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - Role
                                  example: Role
                        deliveryCashRegister:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - CashRegister
                                  example: CashRegister
                        takeAwayCashRegister:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - CashRegister
                                  example: CashRegister
                        tablesCashRegister:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - CashRegister
                                  example: CashRegister
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - User
                        example: User
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          admin:
                            type: boolean
                            example: false
                          email:
                            type: string
                            format: email
                            example: cosme@example.com
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Cosme
                          phone:
                            type:
                            - string
                            - 'null'
                            example: '+5491150000000'
                          authPinEnabled:
                            type: boolean
                            example: false
                          promotionalCode:
                            type: string
                            example: F.E-RESTO.USER
                      relationships:
                        type: object
                        properties:
                          role:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Role
                                    example: Role
                          deliveryCashRegister:
                            type: object
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - CashRegister
                                    example: CashRegister
                          tablesCashRegister:
                            type: object
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - CashRegister
                                    example: CashRegister
                          takeAwayCashRegister:
                            type: object
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - CashRegister
                                    example: CashRegister
      operationId: postUsers
      x-operation-id-source: derived
  /users/{id}:
    get:
      summary: Get user
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((deliveryCashRegister|role|tablesCashRegister|takeAwayCashRegister)(,(?!$))?)+$
          example: role
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - User
                        example: User
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          admin:
                            type: boolean
                            example: false
                          email:
                            type: string
                            format: email
                            example: cosme@example.com
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Cosme
                          phone:
                            type:
                            - string
                            - 'null'
                            example: '+5491150000000'
                          authPinEnabled:
                            type: boolean
                            example: false
                          promotionalCode:
                            type: string
                            example: F.E-RESTO.USER
                      relationships:
                        type: object
                        properties:
                          role:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Role
                                    example: Role
                          deliveryCashRegister:
                            type: object
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - CashRegister
                                    example: CashRegister
                          tablesCashRegister:
                            type: object
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - CashRegister
                                    example: CashRegister
                          takeAwayCashRegister:
                            type: object
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - CashRegister
                                    example: CashRegister
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getUsersById
      x-operation-id-source: derived
    patch:
      summary: Update user
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - User
                      example: User
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        active:
                          type: boolean
                          example: true
                        admin:
                          type: boolean
                          example: false
                        shortLogin:
                          type: string
                          pattern: ^[\wñ.\-]+$
                          minLength: 1
                          maxLength: 90
                          example: cosme
                        email:
                          type: string
                          format: email
                          minLength: 1
                          maxLength: 90
                          example: cosme@example.com
                        name:
                          type: string
                          minLength: 5
                          maxLength: 90
                          example: Cosme
                        password:
                          type: string
                          minLength: 5
                          maxLength: 90
                          example: Phielee3
                        phone:
                          type:
                          - string
                          - 'null'
                          minLength: 1
                          maxLength: 255
                          example: '+5491150000000'
                        authPin:
                          type:
                          - string
                          - 'null'
                          minLength: 1
                          example: '1234'
                    relationships:
                      type: object
                      additionalProperties: false
                      properties:
                        role:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - Role
                                  example: Role
                        deliveryCashRegister:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - CashRegister
                                  example: CashRegister
                        takeAwayCashRegister:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - CashRegister
                                  example: CashRegister
                        tablesCashRegister:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - CashRegister
                                  example: CashRegister
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - User
                        example: User
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          admin:
                            type: boolean
                            example: false
                          email:
                            type: string
                            format: email
                            example: cosme@example.com
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Cosme
                          phone:
                            type:
                            - string
                            - 'null'
                            example: '+5491150000000'
                          authPinEnabled:
                            type: boolean
                            example: false
                          promotionalCode:
                            type: string
                            example: F.E-RESTO.USER
                      relationships:
                        type: object
                        properties:
                          role:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Role
                                    example: Role
                          deliveryCashRegister:
                            type: object
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - CashRegister
                                    example: CashRegister
                          tablesCashRegister:
                            type: object
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - CashRegister
                                    example: CashRegister
                          takeAwayCashRegister:
                            type: object
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - CashRegister
                                    example: CashRegister
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchUsersById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
