openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Products API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Products
paths:
  /products:
    get:
      summary: Get products
      tags:
      - Products
      parameters:
      - name: filter
        in: query
        description: Object in the form of filter[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            id:
              type: string
              pattern: ^in.\(\d+(,\d+)*\)
              example: in.(1,3,2345)
            name:
              type: string
              pattern: ^ilike\..{1,255}$
              example: ilike.%stew%
            productCategoryId:
              type: string
              pattern: ^eq\.\d{1,255}$
            stock:
              type: string
              pattern: ^isdistinct\.null$
            stockControl:
              type: string
              pattern: ^eq\.true$
            active:
              type: string
              pattern: ^eq\.(true|false)$
              example: eq.true
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?name|-?position)(,(?!$))?)+$
          example:
          - id
          - -id
          - name
          - -name
          - position
          - -position
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((invoiceInformation|productModifiersGroups.productModifiers.product|productModifiersGroups.productModifiers|productModifiersGroups|productCategory|productProportions|proportions|unit)(,(?!$))?)+$
          example: productCategory
      - name: fields
        in: query
        description: Object in the form of fields[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            invoiceInformation:
              type: string
              pattern: ^((ncm|)(,(?!$))?)*$
              example: ncm
            product:
              type: string
              pattern: ^((active|code|componentsCost|cost|description|enableOnlineMenu|enableQrMenu|favourite|imageUrl|minStock|name|position|preparationTime|price|productProportions|proportions|sellAlone|stock|stockControl|lastStockCountAt|unit)(,(?!$))?)*$
              example: price,quantity
            productProportion:
              type: string
              pattern: ^((amount|bundledProduct|product)(,(?!$))?)*$
              example: name
            proportion:
              type: string
              pattern: ^((amount|ingredient|product)(,(?!$))?)*$
              example: name
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - Product
                          example: Product
                        attributes:
                          type: object
                          properties:
                            active:
                              type: boolean
                              example: false
                            code:
                              type: string
                              minLength: 1
                              maxLength: 45
                              example: SW500
                            cost:
                              type: number
                              minimum: 0
                              example: 250.5
                            description:
                              type: string
                              maxLength: 255
                              minLength: 1
                              example: Still Water 500cm3
                            enableOnlineMenu:
                              type: boolean
                              example: false
                            enableQrMenu:
                              type: boolean
                              example: false
                            favourite:
                              type: boolean
                              example: false
                            ignoreAvailability:
                              type: boolean
                              example: false
                            imageUrl:
                              type: string
                              example: https://example.com/image.png
                            minStock:
                              type: number
                              minimum: 0
                              example: 50
                            name:
                              type: string
                              minLength: 1
                              maxLength: 45
                              example: Still Water
                            position:
                              type: number
                              example: 50
                            preparationTime:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                            price:
                              type: number
                              example: 250.5
                            sellAlone:
                              type: boolean
                              example: false
                            stock:
                              type: number
                              example: 50
                            stockControl:
                              type: boolean
                              example: false
                        relationships:
                          type: object
                          properties:
                            kitchen:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - Kitchen
                                      example: Kitchen
                            productCategory:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - ProductCategory
                                      example: ProductCategory
                            productModifiersGroups:
                              type: array
                              items:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        pattern: \d{1,10}
                                        example: '1'
                                      type:
                                        type: string
                                        enum:
                                        - ProductModifiersGroup
                                        example: ProductModifiersGroup
                            productProportions:
                              type: array
                              items:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        pattern: \d{1,10}
                                        example: '1'
                                      type:
                                        type: string
                                        enum:
                                        - ProductProportion
                                        example: ProductProportion
      operationId: getProducts
      x-operation-id-source: derived
    post:
      summary: Create product
      tags:
      - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - Product
                      example: Product
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - name
                      - price
                      properties:
                        code:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: SW500
                        cost:
                          type: number
                          minimum: 0
                          example: 250.5
                        description:
                          type: string
                          maxLength: 255
                          minLength: 1
                          example: Still Water 500cm3
                        minStock:
                          type: number
                          minimum: 0
                          example: 50
                        name:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: Still Water
                        price:
                          type: number
                          minimum: 0
                          example: 250.5
                        stock:
                          type: number
                          example: 50
                        stockControl:
                          type: boolean
                          example: true
                    relationships:
                      type: object
                      additionalProperties: false
                      required:
                      - productCategory
                      properties:
                        productCategory:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - ProductCategory
                                  example: ProductCategory
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Product
                        example: Product
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: false
                          code:
                            type: string
                            minLength: 1
                            maxLength: 45
                            example: SW500
                          cost:
                            type: number
                            minimum: 0
                            example: 250.5
                          description:
                            type: string
                            maxLength: 255
                            minLength: 1
                            example: Still Water 500cm3
                          enableOnlineMenu:
                            type: boolean
                            example: false
                          enableQrMenu:
                            type: boolean
                            example: false
                          favourite:
                            type: boolean
                            example: false
                          ignoreAvailability:
                            type: boolean
                            example: false
                          imageUrl:
                            type: string
                            example: https://example.com/image.png
                          minStock:
                            type: number
                            minimum: 0
                            example: 50
                          name:
                            type: string
                            minLength: 1
                            maxLength: 45
                            example: Still Water
                          position:
                            type: number
                            example: 50
                          preparationTime:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                          price:
                            type: number
                            example: 250.5
                          sellAlone:
                            type: boolean
                            example: false
                          stock:
                            type: number
                            example: 50
                          stockControl:
                            type: boolean
                            example: false
                      relationships:
                        type: object
                        properties:
                          kitchen:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Kitchen
                                    example: Kitchen
                          productCategory:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductCategory
                                    example: ProductCategory
                          productModifiersGroups:
                            type: array
                            items:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - ProductModifiersGroup
                                      example: ProductModifiersGroup
                          productProportions:
                            type: array
                            items:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - ProductProportion
                                      example: ProductProportion
      operationId: postProducts
      x-operation-id-source: derived
  /products/{id}:
    get:
      summary: Get product
      tags:
      - Products
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((invoiceInformation|productModifiersGroups.productModifiers.product|productModifiersGroups.productModifiers|productModifiersGroups|productCategory|productProportions|proportions|unit)(,(?!$))?)+$
          example: productCategory
      - name: fields
        in: query
        description: Object in the form of fields[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            invoiceInformation:
              type: string
              pattern: ^((ncm|)(,(?!$))?)*$
              example: ncm
            product:
              type: string
              pattern: ^((active|code|componentsCost|cost|description|enableOnlineMenu|enableQrMenu|favourite|imageUrl|minStock|name|position|preparationTime|price|productProportions|proportions|sellAlone|stock|stockControl|lastStockCountAt|unit)(,(?!$))?)*$
              example: price,quantity
            productProportion:
              type: string
              pattern: ^((amount|bundledProduct|product)(,(?!$))?)*$
              example: name
            proportion:
              type: string
              pattern: ^((amount|ingredient|product)(,(?!$))?)*$
              example: name
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Product
                        example: Product
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: false
                          code:
                            type: string
                            minLength: 1
                            maxLength: 45
                            example: SW500
                          cost:
                            type: number
                            minimum: 0
                            example: 250.5
                          description:
                            type: string
                            maxLength: 255
                            minLength: 1
                            example: Still Water 500cm3
                          enableOnlineMenu:
                            type: boolean
                            example: false
                          enableQrMenu:
                            type: boolean
                            example: false
                          favourite:
                            type: boolean
                            example: false
                          ignoreAvailability:
                            type: boolean
                            example: false
                          imageUrl:
                            type: string
                            example: https://example.com/image.png
                          minStock:
                            type: number
                            minimum: 0
                            example: 50
                          name:
                            type: string
                            minLength: 1
                            maxLength: 45
                            example: Still Water
                          position:
                            type: number
                            example: 50
                          preparationTime:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                          price:
                            type: number
                            example: 250.5
                          sellAlone:
                            type: boolean
                            example: false
                          stock:
                            type: number
                            example: 50
                          stockControl:
                            type: boolean
                            example: false
                      relationships:
                        type: object
                        properties:
                          kitchen:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Kitchen
                                    example: Kitchen
                          productCategory:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductCategory
                                    example: ProductCategory
                          productModifiersGroups:
                            type: array
                            items:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - ProductModifiersGroup
                                      example: ProductModifiersGroup
                          productProportions:
                            type: array
                            items:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - ProductProportion
                                      example: ProductProportion
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getProductsById
      x-operation-id-source: derived
    patch:
      summary: Update product
      tags:
      - Products
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - Product
                      example: Product
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        active:
                          type: boolean
                          example: true
                        code:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: SW500
                        cost:
                          type: number
                          minimum: 0
                          example: 250.5
                        description:
                          type: string
                          maxLength: 255
                          minLength: 1
                          example: Still Water 500cm3
                        minStock:
                          type: number
                          minimum: 0
                          example: 50
                        name:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: Still Water
                        price:
                          type: number
                          minimum: 0
                          example: 250.5
                        stock:
                          type: number
                          example: 50
                        stockControl:
                          type: boolean
                          example: true
                    relationships:
                      type: object
                      additionalProperties: false
                      required:
                      - productCategory
                      properties:
                        productCategory:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              anyOf:
                              - type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '35'
                                  type:
                                    type: string
                                    enum:
                                    - ProductCategory
                                    example: ProductCategory
                              - type: object
                                additionalProperties: false
                                required:
                                - lid
                                - type
                                properties:
                                  lid:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductCategory
                                    example: ProductCategory
                        productModifiersGroup:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              anyOf:
                              - type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '35'
                                  type:
                                    type: string
                                    enum:
                                    - ProductModifiersGroup
                                    example: ProductModifiersGroup
                              - type: object
                                additionalProperties: false
                                required:
                                - lid
                                - type
                                properties:
                                  lid:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductModifiersGroup
                                    example: ProductModifiersGroup
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Product
                        example: Product
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: false
                          code:
                            type: string
                            minLength: 1
                            maxLength: 45
                            example: SW500
                          cost:
                            type: number
                            minimum: 0
                            example: 250.5
                          description:
                            type: string
                            maxLength: 255
                            minLength: 1
                            example: Still Water 500cm3
                          enableOnlineMenu:
                            type: boolean
                            example: false
                          enableQrMenu:
                            type: boolean
                            example: false
                          favourite:
                            type: boolean
                            example: false
                          ignoreAvailability:
                            type: boolean
                            example: false
                          imageUrl:
                            type: string
                            example: https://example.com/image.png
                          minStock:
                            type: number
                            minimum: 0
                            example: 50
                          name:
                            type: string
                            minLength: 1
                            maxLength: 45
                            example: Still Water
                          position:
                            type: number
                            example: 50
                          preparationTime:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                          price:
                            type: number
                            example: 250.5
                          sellAlone:
                            type: boolean
                            example: false
                          stock:
                            type: number
                            example: 50
                          stockControl:
                            type: boolean
                            example: false
                      relationships:
                        type: object
                        properties:
                          kitchen:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Kitchen
                                    example: Kitchen
                          productCategory:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductCategory
                                    example: ProductCategory
                          productModifiersGroups:
                            type: array
                            items:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - ProductModifiersGroup
                                      example: ProductModifiersGroup
                          productProportions:
                            type: array
                            items:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - ProductProportion
                                      example: ProductProportion
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchProductsById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
