openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Roles API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Roles
paths:
  /roles:
    get:
      summary: Get roles
      tags:
      - Roles
      parameters:
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?name)(,(?!$))?)+$
          example:
          - id
          - -id
          - name
          - -name
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - Role
                          example: Role
                        attributes:
                          type: object
                          properties:
                            isWaiter:
                              type: boolean
                              example: true
                            isDeliveryman:
                              type: boolean
                              example: true
                            name:
                              type: string
                              minLength: 5
                              maxLength: 90
                              example: Admin
                            permissions:
                              type: array
                              items:
                                type: string
                              example:
                              - admin_rooms
                              - list_tables
      operationId: getRoles
      x-operation-id-source: derived
    post:
      summary: Create role
      tags:
      - Roles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - Role
                      example: Role
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - name
                      properties:
                        name:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: Manager
                        isWaiter:
                          type: boolean
                          example: false
                        isDeliveryman:
                          type: boolean
                          example: false
                        permissions:
                          type: array
                          items:
                            type: string
                          example:
                          - admin_rooms
                          - list_tables
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Role
                        example: Role
                      attributes:
                        type: object
                        properties:
                          isWaiter:
                            type: boolean
                            example: true
                          isDeliveryman:
                            type: boolean
                            example: true
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Admin
                          permissions:
                            type: array
                            items:
                              type: string
                            example:
                            - admin_rooms
                            - list_tables
      operationId: postRoles
      x-operation-id-source: derived
  /roles/{id}:
    get:
      summary: Get role
      tags:
      - Roles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Role
                        example: Role
                      attributes:
                        type: object
                        properties:
                          isWaiter:
                            type: boolean
                            example: true
                          isDeliveryman:
                            type: boolean
                            example: true
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Admin
                          permissions:
                            type: array
                            items:
                              type: string
                            example:
                            - admin_rooms
                            - list_tables
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getRolesById
      x-operation-id-source: derived
    patch:
      summary: Update role
      tags:
      - Roles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - Role
                      example: Role
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        name:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: Manager
                        isWaiter:
                          type: boolean
                          example: false
                        isDeliveryman:
                          type: boolean
                          example: false
                        permissions:
                          type: array
                          items:
                            type: string
                          example:
                          - admin_rooms
                          - list_tables
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Role
                        example: Role
                      attributes:
                        type: object
                        properties:
                          isWaiter:
                            type: boolean
                            example: true
                          isDeliveryman:
                            type: boolean
                            example: true
                          name:
                            type: string
                            minLength: 5
                            maxLength: 90
                            example: Admin
                          permissions:
                            type: array
                            items:
                              type: string
                            example:
                            - admin_rooms
                            - list_tables
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchRolesById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
