openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Items API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Items
paths:
  /items:
    get:
      summary: Get items
      tags:
      - Items
      parameters:
      - name: fields
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: object
          additionalProperties: false
          properties:
            item:
              type: string
              pattern: ^((canceled|cancellationComment|cancellationReason|comment|cost|createdAt|price|product|quantity|sale|status|subitems|paid|priceList|lastStockCountAt )(,(?!$))?)*$
              example: price,quantity
            product:
              type: string
              pattern: ^((active|code|description|enableOnlineMenu|enableQrMenu|favourite|imageUrl|kitchen|name|position|price|productCategory|productModifiersGroups|sellAlone|stockControl|stock)(,(?!$))?)*$
              example: name
            subitem:
              type: string
              pattern: ^((comment|cost|createdAt|price|quantity|status)(,(?!$))?)*$
              example: price
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?createdAt)(,(?!$))?)+$
          example:
          - id
          - -id
          - createdAt
          - -createdAt
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((product|subitems.product|subitems)(,(?!$))?)+$
          example: product
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: '[0-9]+'
                          example: '1'
                        type:
                          type: string
                          enum:
                          - Item
                          example: Item
                        attributes:
                          type: object
                          properties:
                            canceled:
                              type: boolean
                              example: false
                            cancellationComment:
                              type: string
                              minLength: 1
                              maxLength: 255
                              example: This is a comment
                            cancellationReason:
                              type:
                              - string
                              - 'null'
                              enum:
                              - 'null'
                              - CANCELED-BY-GUEST
                              - DELAY-IN-KITCHEN
                              - ERROR
                              - GUEST-DISSATISFACTION
                              - ITEM-CHANGE
                              - NOT-AVAILABLE
                              - OTHER
                              - TEST
                              example: CANCELED-BY-GUEST
                            comment:
                              type: string
                              minLength: 1
                              maxLength: 255
                              example: This is a comment
                            createdAt:
                              type: string
                              format: date-time
                              example: '2020-05-11T23:15:00.000Z'
                            price:
                              type: number
                              example: 100
                            quantity:
                              type: number
                              example: 3
                            status:
                              type:
                              - string
                              - 'null'
                              enum:
                              - 'null'
                              - PENDING
                              - IN-COURSE
                              - READY
                              - SERVED
                              example: IN-COURSE
                            paid:
                              type: boolean
                              example: false
                        relationships:
                          type: object
                          properties:
                            priceList:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - PriceList
                                      example: PriceList
                            product:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - Product
                                      example: Product
                            subitems:
                              type: array
                              items:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        pattern: \d{1,10}
                                        example: '2'
                                      type:
                                        type: string
                                        enum:
                                        - Item
                                        example: Item
                            sale:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - Sale
                                      example: Sale
      operationId: getItems
      x-operation-id-source: derived
    post:
      summary: Create item
      tags:
      - Items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - Item
                      example: Item
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - quantity
                      properties:
                        comment:
                          type: string
                          minLength: 1
                          maxLength: 255
                          example: This is a comment
                        price:
                          type: number
                          minimum: 0
                          example: 100
                        quantity:
                          type: number
                          example: 3
                        origin:
                          type: string
                          enum:
                          - MOBILE
                          example: MOBILE
                        uuid:
                          type: string
                          format: uuid4
                          example: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
                    relationships:
                      type: object
                      additionalProperties: false
                      required:
                      - product
                      - sale
                      properties:
                        priceList:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - PriceList
                                  example: PriceList
                        product:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - Product
                                  example: Product
                        sale:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              oneOf:
                              - type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Sale
                                    example: Sale
                              - type: object
                                additionalProperties: false
                                required:
                                - lid
                                - type
                                properties:
                                  lid:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Sale
                                    example: Sale
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: '[0-9]+'
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Item
                        example: Item
                      attributes:
                        type: object
                        properties:
                          canceled:
                            type: boolean
                            example: false
                          cancellationComment:
                            type: string
                            minLength: 1
                            maxLength: 255
                            example: This is a comment
                          cancellationReason:
                            type:
                            - string
                            - 'null'
                            enum:
                            - 'null'
                            - CANCELED-BY-GUEST
                            - DELAY-IN-KITCHEN
                            - ERROR
                            - GUEST-DISSATISFACTION
                            - ITEM-CHANGE
                            - NOT-AVAILABLE
                            - OTHER
                            - TEST
                            example: CANCELED-BY-GUEST
                          comment:
                            type: string
                            minLength: 1
                            maxLength: 255
                            example: This is a comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          price:
                            type: number
                            example: 100
                          quantity:
                            type: number
                            example: 3
                          status:
                            type:
                            - string
                            - 'null'
                            enum:
                            - 'null'
                            - PENDING
                            - IN-COURSE
                            - READY
                            - SERVED
                            example: IN-COURSE
                          paid:
                            type: boolean
                            example: false
                      relationships:
                        type: object
                        properties:
                          priceList:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PriceList
                                    example: PriceList
                          product:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Product
                                    example: Product
                          subitems:
                            type: array
                            items:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '2'
                                    type:
                                      type: string
                                      enum:
                                      - Item
                                      example: Item
                          sale:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Sale
                                    example: Sale
      operationId: postItems
      x-operation-id-source: derived
  /items/{id}:
    get:
      summary: Get item
      tags:
      - Items
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      - name: fields
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: object
          additionalProperties: false
          properties:
            item:
              type: string
              pattern: ^((canceled|cancellationComment|cancellationReason|comment|cost|createdAt|price|product|quantity|sale|status|subitems|paid|priceList|lastStockCountAt )(,(?!$))?)*$
              example: price,quantity
            product:
              type: string
              pattern: ^((active|code|description|enableOnlineMenu|enableQrMenu|favourite|imageUrl|kitchen|name|position|price|productCategory|productModifiersGroups|sellAlone|stockControl|stock)(,(?!$))?)*$
              example: name
            subitem:
              type: string
              pattern: ^((comment|cost|createdAt|price|quantity|status)(,(?!$))?)*$
              example: price
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((product|subitems.product|subitems)(,(?!$))?)+$
          example: product
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: '[0-9]+'
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Item
                        example: Item
                      attributes:
                        type: object
                        properties:
                          canceled:
                            type: boolean
                            example: false
                          cancellationComment:
                            type: string
                            minLength: 1
                            maxLength: 255
                            example: This is a comment
                          cancellationReason:
                            type:
                            - string
                            - 'null'
                            enum:
                            - 'null'
                            - CANCELED-BY-GUEST
                            - DELAY-IN-KITCHEN
                            - ERROR
                            - GUEST-DISSATISFACTION
                            - ITEM-CHANGE
                            - NOT-AVAILABLE
                            - OTHER
                            - TEST
                            example: CANCELED-BY-GUEST
                          comment:
                            type: string
                            minLength: 1
                            maxLength: 255
                            example: This is a comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          price:
                            type: number
                            example: 100
                          quantity:
                            type: number
                            example: 3
                          status:
                            type:
                            - string
                            - 'null'
                            enum:
                            - 'null'
                            - PENDING
                            - IN-COURSE
                            - READY
                            - SERVED
                            example: IN-COURSE
                          paid:
                            type: boolean
                            example: false
                      relationships:
                        type: object
                        properties:
                          priceList:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PriceList
                                    example: PriceList
                          product:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Product
                                    example: Product
                          subitems:
                            type: array
                            items:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '2'
                                    type:
                                      type: string
                                      enum:
                                      - Item
                                      example: Item
                          sale:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Sale
                                    example: Sale
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getItemsById
      x-operation-id-source: derived
    patch:
      summary: Update item
      tags:
      - Items
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - Item
                      example: Item
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        canceled:
                          type: boolean
                          enum:
                          - true
                          example: true
                        cancellationComment:
                          type: string
                          minLength: 1
                          maxLength: 255
                          example: This is a comment
                        cancellationReason:
                          type:
                          - string
                          enum:
                          - CANCELED-BY-GUEST
                          - DELAY-IN-KITCHEN
                          - ERROR
                          - GUEST-DISSATISFACTION
                          - ITEM-CHANGE
                          - NOT-AVAILABLE
                          - OTHER
                          - TEST
                          example: CANCELED-BY-GUEST
                        status:
                          type:
                          - string
                          enum:
                          - PENDING
                          - IN-COURSE
                          - READY
                          - SERVED
                          example: READY
                        paid:
                          type: boolean
                          example: false
                        quantity:
                          type: number
                          minimum: 0
                      anyOf:
                      - allOf:
                        - required:
                          - canceled
                        - anyOf:
                          - required:
                            - cancellationReason
                          - required:
                            - cancellationComment
                      - not:
                          anyOf:
                          - required:
                            - canceled
                          - required:
                            - cancellationComment
                          - required:
                            - cancellationReason
                    relationships:
                      type: object
                      additionalProperties: false
                      properties:
                        sale:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              anyOf:
                              - type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Sale
                                    example: Sale
                              - type: object
                                additionalProperties: false
                                required:
                                - lid
                                - type
                                properties:
                                  lid:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    description: 'Local ID of a Sale created in the same atomic:operations request

                                      '
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Sale
                                    example: Sale
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: '[0-9]+'
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Item
                        example: Item
                      attributes:
                        type: object
                        properties:
                          canceled:
                            type: boolean
                            example: false
                          cancellationComment:
                            type: string
                            minLength: 1
                            maxLength: 255
                            example: This is a comment
                          cancellationReason:
                            type:
                            - string
                            - 'null'
                            enum:
                            - 'null'
                            - CANCELED-BY-GUEST
                            - DELAY-IN-KITCHEN
                            - ERROR
                            - GUEST-DISSATISFACTION
                            - ITEM-CHANGE
                            - NOT-AVAILABLE
                            - OTHER
                            - TEST
                            example: CANCELED-BY-GUEST
                          comment:
                            type: string
                            minLength: 1
                            maxLength: 255
                            example: This is a comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          price:
                            type: number
                            example: 100
                          quantity:
                            type: number
                            example: 3
                          status:
                            type:
                            - string
                            - 'null'
                            enum:
                            - 'null'
                            - PENDING
                            - IN-COURSE
                            - READY
                            - SERVED
                            example: IN-COURSE
                          paid:
                            type: boolean
                            example: false
                      relationships:
                        type: object
                        properties:
                          priceList:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PriceList
                                    example: PriceList
                          product:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Product
                                    example: Product
                          subitems:
                            type: array
                            items:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '2'
                                    type:
                                      type: string
                                      enum:
                                      - Item
                                      example: Item
                          sale:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Sale
                                    example: Sale
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchItemsById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
