openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Ingredients API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Ingredients
paths:
  /ingredients:
    get:
      summary: Get ingredients
      tags:
      - Ingredients
      parameters:
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?name)(,(?!$))?)+$
          example:
          - id
          - -id
          - name
          - -name
      - name: fields
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: object
          additionalProperties: false
          properties:
            ingredient:
              type: string
              pattern: ^((cost|minStock|name|shrinkage|stock|stockControl|unit)(,(?!$))?)*$
              example: name
            ingredientCategory:
              type: string
              pattern: ^((name)(,(?!$))?)*$
              example: name
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((ingredientCategory|unit)(,(?!$))?)+$
          example: ingredientCategory
      - name: filter
        in: query
        description: Object in the form of filter[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            id:
              type: string
              pattern: ^in.\(\d+(,\d+)*\)
              example: in.(1,3,2345)
            stock:
              type: string
              pattern: ^isdistinct\.null$
            stockControl:
              type: string
              pattern: ^eq\.true$
            name:
              type: string
              pattern: ^ilike\..{1,255}$
              example: ilike.%stew%
            ingredientCategoryId:
              type: string
              pattern: ^eq\.\d+$
              example: '433254'
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - Ingredient
                          example: Ingredient
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              minLength: 1
                              maxLength: 45
                              example: Flour x Kg
                            cost:
                              type: number
                              minimum: 0
                              example: 250.5
                            minStock:
                              type: number
                              minimum: 0
                              example: 50
                            stock:
                              type: number
                              example: 200
                            stockControl:
                              type: boolean
                              example: true
                        relationships:
                          type: object
                          properties:
                            ingredientCategory:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - IngredientCategory
                                      example: IngredientCategory
      operationId: getIngredients
      x-operation-id-source: derived
  /ingredients/{id}:
    get:
      summary: Get ingredient
      tags:
      - Ingredients
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      - name: fields
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: object
          additionalProperties: false
          properties:
            ingredient:
              type: string
              pattern: ^((cost|minStock|name|shrinkage|stock|stockControl|unit)(,(?!$))?)*$
              example: name
            ingredientCategory:
              type: string
              pattern: ^((name)(,(?!$))?)*$
              example: name
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((ingredientCategory|unit)(,(?!$))?)+$
          example: ingredientCategory
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Ingredient
                        example: Ingredient
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            minLength: 1
                            maxLength: 45
                            example: Flour x Kg
                          cost:
                            type: number
                            minimum: 0
                            example: 250.5
                          minStock:
                            type: number
                            minimum: 0
                            example: 50
                          stock:
                            type: number
                            example: 200
                          stockControl:
                            type: boolean
                            example: true
                      relationships:
                        type: object
                        properties:
                          ingredientCategory:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - IngredientCategory
                                    example: IngredientCategory
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getIngredientsById
      x-operation-id-source: derived
    patch:
      summary: Update ingredient
      tags:
      - Ingredients
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - Ingredient
                      example: Ingredient
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        cost:
                          type: number
                          minimum: 0
                          example: 250.5
                        minStock:
                          type: number
                          minimum: 0
                          example: 50
                        name:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: Still Water
                        price:
                          type: number
                          example: 250.5
                        stock:
                          type: number
                          example: 50
                        stockControl:
                          type: boolean
                          example: true
                    relationships:
                      type: object
                      additionalProperties: false
                      properties:
                        ingredientCategory:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: \d{1,10}
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - IngredientCategory
                                  example: IngredientCategory
                        unit:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - type
                              - id
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - Unit
                                  example: Unit
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Ingredient
                        example: Ingredient
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            minLength: 1
                            maxLength: 45
                            example: Flour x Kg
                          cost:
                            type: number
                            minimum: 0
                            example: 250.5
                          minStock:
                            type: number
                            minimum: 0
                            example: 50
                          stock:
                            type: number
                            example: 200
                          stockControl:
                            type: boolean
                            example: true
                      relationships:
                        type: object
                        properties:
                          ingredientCategory:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - IngredientCategory
                                    example: IngredientCategory
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchIngredientsById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
