openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Providers API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Providers
paths:
  /providers:
    get:
      summary: Get providers
      tags:
      - Providers
      parameters:
      - name: fields
        in: query
        description: 'Object in the form `fields[column]=value`. See pattern for possible values.

          '
        schema:
          type: object
          additionalProperties: false
          properties:
            provider:
              type: string
              pattern: ^((name|email|address|phone|comment|active|internal|providerHouseAccountBalance|fiscalNumber)(,(?!$))?)*$
              example: name
      - name: filter
        in: query
        description: Object in the form of filter[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            active:
              type: string
              pattern: ^eq\.(true|false)$
              example: eq.true
            '@all':
              type: string
              pattern: ^fts\..{2,255}$
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?name)(,(?!$))?)+$
          example:
          - id
          - -id
          - name
          - -name
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - Provider
                          example: Provider
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              example: Acme
      operationId: getProviders
      x-operation-id-source: derived
    post:
      summary: Create provider
      tags:
      - Providers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - Provider
                      example: Provider
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - name
                      properties:
                        active:
                          type: boolean
                          example: true
                        address:
                          type: string
                          example: Address
                        comment:
                          type: string
                          minLength: 1
                          maxLength: 255
                          example: A comment
                        email:
                          type: string
                          minLength: 1
                          maxLength: 255
                          format: email
                          example: acme@example.com
                        fiscalNumber:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: 30-3312345678-9
                        internal:
                          type: boolean
                          example: true
                        name:
                          type: string
                          minLength: 1
                          maxLength: 90
                          example: ACME
                        phone:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: +54 9 11 12345678
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Provider
                        example: Provider
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Acme
      operationId: postProviders
      x-operation-id-source: derived
  /providers/{id}:
    get:
      summary: Get provider
      tags:
      - Providers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      - name: fields
        in: query
        description: 'Object in the form `fields[column]=value`. See pattern for possible values.

          '
        schema:
          type: object
          additionalProperties: false
          properties:
            provider:
              type: string
              pattern: ^((name|email|address|phone|comment|active|internal|providerHouseAccountBalance|fiscalNumber)(,(?!$))?)*$
              example: name
      - name: filter
        in: query
        description: Object in the form of filter[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            active:
              type: string
              pattern: ^eq\.(true|false)$
              example: eq.true
            '@all':
              type: string
              pattern: ^fts\..{2,255}$
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Provider
                        example: Provider
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Acme
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getProvidersById
      x-operation-id-source: derived
    patch:
      summary: Update provider
      tags:
      - Providers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                fields:
                  type: object
                  additionalProperties: false
                  properties:
                    provider:
                      type: string
                      pattern: ^((name|email|address|phone|comment|active|internal|providerHouseAccountBalance|fiscalNumber)(,(?!$))?)*$
                      example: name
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - Provider
                      example: Provider
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        active:
                          type: boolean
                          example: true
                        address:
                          type: string
                          example: Address
                        comment:
                          type: string
                          minLength: 1
                          maxLength: 255
                          example: A comment
                        email:
                          type: string
                          minLength: 1
                          maxLength: 255
                          format: email
                          example: acme@example.com
                        fiscalNumber:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: 30-3312345678-9
                        internal:
                          type: boolean
                          example: true
                        name:
                          type: string
                          minLength: 1
                          maxLength: 90
                          example: ACME
                        phone:
                          type: string
                          maxLength: 45
                          example: +54 9 11 12345678
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Provider
                        example: Provider
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Acme
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchProvidersById
      x-operation-id-source: derived
    delete:
      summary: Delete provider
      tags:
      - Providers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      responses:
        '200':
          description: A provider
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Provider
                        example: Provider
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Acme
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: deleteProvidersById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
