openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Product Modifiers API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Product Modifiers
paths:
  /product-modifiers:
    get:
      summary: Get product modifiers
      tags:
      - Product Modifiers
      parameters:
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id)(,(?!$))?)+$
          example:
          - id
          - -id
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((product)(,(?!$))?)+$
          example: product
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - ProductModifier
                          example: ProductModifier
                        attributes:
                          type: object
                          properties:
                            maxQuantity:
                              type: number
                              example: 10
                            price:
                              type: number
                              example: 100.5
                        relationships:
                          type: object
                          properties:
                            product:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - Product
                                      example: Product
                            productModifiersGroup:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - ProductModifiersGroup
                                      example: ProductModifiersGroup
      operationId: getProductModifiers
      x-operation-id-source: derived
    post:
      summary: Create product modifier
      tags:
      - Product Modifiers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      additionalProperties: false
                      enum:
                      - ProductModifier
                      example: ProductModifier
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - maxQuantity
                      - price
                      properties:
                        maxQuantity:
                          type: number
                          example: 10
                        price:
                          type: number
                          example: 100.5
                    relationships:
                      type: object
                      additionalProperties: false
                      required:
                      - product
                      - productModifiersGroup
                      properties:
                        product:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              anyOf:
                              - type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '35'
                                  type:
                                    type: string
                                    enum:
                                    - Product
                                    example: Product
                              - type: object
                                additionalProperties: false
                                required:
                                - lid
                                - type
                                properties:
                                  lid:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Product
                                    example: Product
                        productModifiersGroup:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              anyOf:
                              - type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '35'
                                  type:
                                    type: string
                                    enum:
                                    - ProductModifiersGroup
                                    example: ProductModifiersGroup
                              - type: object
                                additionalProperties: false
                                required:
                                - lid
                                - type
                                properties:
                                  lid:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductModifiersGroup
                                    example: ProductModifiersGroup
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - ProductModifier
                        example: ProductModifier
                      attributes:
                        type: object
                        properties:
                          maxQuantity:
                            type: number
                            example: 10
                          price:
                            type: number
                            example: 100.5
                      relationships:
                        type: object
                        properties:
                          product:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Product
                                    example: Product
                          productModifiersGroup:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductModifiersGroup
                                    example: ProductModifiersGroup
      operationId: postProductModifiers
      x-operation-id-source: derived
  /product-modifiers/{id}:
    get:
      summary: Get product modifier
      tags:
      - Product Modifiers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((product)(,(?!$))?)+$
          example: product
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - ProductModifier
                        example: ProductModifier
                      attributes:
                        type: object
                        properties:
                          maxQuantity:
                            type: number
                            example: 10
                          price:
                            type: number
                            example: 100.5
                      relationships:
                        type: object
                        properties:
                          product:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Product
                                    example: Product
                          productModifiersGroup:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductModifiersGroup
                                    example: ProductModifiersGroup
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: getProductModifiersById
      x-operation-id-source: derived
    patch:
      summary: Update product modifier
      tags:
      - Product Modifiers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - ProductModifier
                      example: ProductModifier
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        maxQuantity:
                          type: number
                          example: 10
                        price:
                          type: number
                          example: 100.5
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - ProductModifier
                        example: ProductModifier
                      attributes:
                        type: object
                        properties:
                          maxQuantity:
                            type: number
                            example: 10
                          price:
                            type: number
                            example: 100.5
                      relationships:
                        type: object
                        properties:
                          product:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Product
                                    example: Product
                          productModifiersGroup:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductModifiersGroup
                                    example: ProductModifiersGroup
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
      operationId: patchProductModifiersById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
