openapi: 3.2.0
info:
  version: v1alpha1
  title: Fudo Subitems API
  description: '# Overview


    ## Introduction

    This document describes how to make use of the Fudo API.'
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
security:
- bearerAuth: []
tags:
- name: Subitems
paths:
  /subitems:
    post:
      summary: Create subitem
      tags:
      - Subitems
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - Subitem
                      example: Subitem
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - quantity
                      properties:
                        comment:
                          type: string
                          minLength: 1
                          maxLength: 255
                          example: This is a comment
                        price:
                          type: number
                          minimum: 0
                          maximum: 99999999.99
                          example: 100
                        quantity:
                          type: number
                          example: 3
                    relationships:
                      type: object
                      additionalProperties: false
                      required:
                      - product
                      - item
                      - productModifiersGroup
                      properties:
                        product:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - Product
                                  example: Product
                        item:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - Item
                                  example: Item
                        productModifiersGroup:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: ^\d{1,10}$
                                  example: '1'
                                type:
                                  enum:
                                  - ProductModifiersGroup
                                  example: ProductModifiersGroup
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Subitem
                        example: Subitem
                      attributes:
                        type: object
                        properties:
                          comment:
                            type: string
                            minLength: 1
                            maxLength: 255
                            example: This is a comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          price:
                            type: number
                            example: 100
                          quantity:
                            type: number
                            example: 3
                          status:
                            type:
                            - string
                            - 'null'
                            enum:
                            - 'null'
                            - PENDING
                            - IN-COURSE
                            - READY
                            - SERVED
                            example: IN-COURSE
                      relationships:
                        type: object
                        properties:
                          product:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Product
                                    example: Product
                          item:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Item
                                    example: Item
                          productModifiersGroup:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ProductModifiersGroup
                                    example: ProductModifiersGroup
      operationId: postSubitems
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'From here you can assign a value to the authorization header to be able

        to perform tests from this interface. The value to assign must be the

        token obtained from the authentication endpoint, as explained above.


        ###

        '
