openapi: 3.1.0
info:
  version: v1alpha1
  title: Fudo API
  description: "# Overview\n\n## Introduction\nThis document describes how to make
    use of the Fudo API. In order to use\nthe API, you must first have created an
    account in Fudo.\n\nYou can access the openapi spec yaml file\n[here](https://api.fu.do/v1alpha1/openapi.yml).\n\
    \n## Authentication\nAuthentication is through an access token, sending the token
    in each\nrequest within the `Authorization` header. In order to obtain the token,\n\
    you must first have the access credentials `apiKey` and `apiSecret`.\n\n### Access
    credentials\nIf you do not yet have an `apiKey` and `apiSecret`, write to soporte@fu.do\n\
    indicating the name of the account in Fudo and the user of the account to\nwhich
    you want to give API access.\n\nWe recommend creating a user especially for API
    access , in order to keep\nregular system users separated from users used for
    API access. E.g.\napi@mirestaurante. Keep in mind that the actions that can be
    done through\nthe API will depend on the role assigned to the user associated
    to the\ntoken.\n\n### Obtaining the token\nTo obtain the token, a request must
    be sent to the authentication endpoint\nwith the access credentials. It is important
    to send the `Content-Type`\nheader as `application/json`.\n\nThe authentication
    endpoint is `https://auth.fu.do/api`.\n\nExample:\n\n```terminal\ncurl -X POST
    https://auth.fu.do/api \\\n     -d '{\"apiKey\":\"123456\",\"apiSecret\":\"654321\"\
    }' \\\n     -H \"Accept: application/json\" \\\n     -H \"Content-Type: application/json\"\
    \n```\n\nAs a response, the access token will be obtained.\n\n```json\n{\"token\"\
    :\"1234567890\", exp: \"1645387452\"}\n```\n\nThe returned token will be the one
    that must be sent later in each request\nmade to the API, within the `Authorization`
    header, prefixed with the\n`Bearer` value, for example, `Authorization: Bearer
    1234567890`.\n\n### Token expiration\nThe token lasts for 24 hours, after this
    time it can no longer be used and\na new token must be obtained. The expiration
    date is included in the `exp`\nattribute in the json response as an integer number
    of seconds since the\nEpoch.\n\nThis makes possible to know in advance when the
    token will expire and to\nrenew it if it has already expired at the time of using
    it again, or the\nexpiration date is approaching.\n\n## Pagination\nMost of the
    endpoints for retrieving collections (customers, sales, etc.)\naccept two query
    params for indicating the number of items to return (page\nsize) and the current
    page number (offset).\n\n- `page[size]`\n- `page[number]`\n\nBy default, the page
    size is 250 and the default page number is 1.\n\nCurrently, there is no way to
    get the total number of items. The way to get\nall the items is to keep doing
    requests until the number of items received\nis lower than the page size. That
    indicates there are no more items to\nretrieve.\n\nThe max items allowed per page
    is 500. In order to minimize the number of\nrequest it is possible to send this
    max value in the `size` param instead\nof using the default.\n\nE.g:\n\n```\n\
    https://api.fu.do/v1alpha1/sales?page[size]=500&page[number]=2\n```\n"
servers:
- url: https://api.fu.do/v1alpha1
  description: Production
tags:
- name: Customers
- name: Discounts
- name: Expenses
- name: Expense Categories
- name: Ingredients
- name: Items
- name: Kitchens
- name: Payments
- name: Payment Methods
- name: Product Categories
- name: Product Modifiers
- name: Products
- name: Providers
- name: Roles
- name: Rooms
- name: Sales
- name: Subitems
- name: Tables
- name: Users
paths:
  /customers:
    get:
      summary: Get customers
      tags:
      - Customers
      parameters:
      - name: filter
        in: query
        description: Object in the form of filter[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            active:
              type: string
              pattern: ^eq\.(true|false)$
              example: eq.true
            firstSaleDate:
              type: string
              pattern: 
                (^(gte|lte)\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?)|(^and\(gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\,lte.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\))
              example: and(gte.2020-05-11T23:15:00Z,lte.2020-05-11T23:15:00Z)
            houseAccountEnabled:
              type: string
              pattern: ^eq\.(true|false)$
              example: eq.true
            lastSaleDate:
              type: string
              pattern: 
                (^(gte|lte)\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?)|(^and\(gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\,lte.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\))
              example: and(gte.2020-05-11T23:15:00Z,lte.2020-05-11T23:15:00Z)
            origin:
              type: string
              pattern: ^(eq\.(ONLINE-MENU|RESERVATION)|is\.null)$
              example: eq.ONLINE-MENU
            salesCount:
              type: string
              pattern: 
                (^(eq|gte|lte|gt|lt)\.\d+$)|(^and\((gte|gt)\.\d+,(lte|lt)\.\d+\))
              example: and(gte.5,lte.20)
            '@all':
              type: string
              pattern: ^fts\..{1,255}$
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?name|-?salesCount)(,(?!$))?)+$
          example:
          - id
          - -id
          - name
          - -name
          - salesCount
          - -salesCount
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - Customer
                          example: Customer
                        attributes:
                          type: object
                          properties:
                            active:
                              type: boolean
                              example: true
                            address:
                              type: string
                              example: '["Calle falsa", "123", "", "Springfield"]'
                            birthDate:
                              type: string
                              format: date
                              example: '1990-05-15'
                            comment:
                              type: string
                              example: comment
                            createdAt:
                              type: string
                              format: date-time
                              example: '2020-05-11T23:15:00.000Z'
                            discountPercentage:
                              type: number
                              example: 100.5
                            email:
                              type: string
                              example: paula@example.com
                            fiscalAddress:
                              type: object
                              properties:
                                postalCode:
                                  type: string
                                  example: 12345-678
                                addressType:
                                  type: string
                                  example: Commercial
                                state:
                                  type: string
                                  example: SP
                                municipality:
                                  type: string
                                  example: São Paulo
                                city:
                                  type: string
                                  example: São Paulo
                                neighborhood:
                                  type: string
                                  example: Centro
                                street:
                                  type: string
                                  example: Avenida Paulista
                                number:
                                  type: string
                                  example: '1000'
                                economicActivity:
                                  type: string
                                  example: Comercio al por menor
                                countryEntity:
                                  type: string
                                  example: '11'
                                countrySubentity:
                                  type: string
                                  example: '11001'
                            firstSaleDate:
                              type: string
                              format: date-time
                              example: '2020-05-11T23:15:00.000Z'
                            historicalSalesCount:
                              type: integer
                              example: 25
                            historicalTotalSpent:
                              type: number
                              example: 1250.75
                            houseAccountBalance:
                              type: number
                              example: 100.5
                            houseAccountEnabled:
                              type: boolean
                              example: true
                            lastSaleDate:
                              type: string
                              format: date-time
                              example: '2020-05-11T23:15:00.000Z'
                            name:
                              type: string
                              example: Paula
                            origin:
                              type: string
                              example: ONLINE-MENU
                            phone:
                              type: string
                              example: +54 11 1234 1234
                            salesCount:
                              type: integer
                              example: 12
                            vatNumber:
                              type: string
                              example: 30-3312341234-9
                        relationships:
                          type: object
                          properties:
                            paymentMethod:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - PaymentMethod
                                      example: PaymentMethod
    post:
      summary: Create customer
      tags:
      - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - Customer
                      example: Customer
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - name
                      properties:
                        active:
                          type: boolean
                          example: true
                        address:
                          type: string
                          example: '["Calle falsa", "123", "", "Springfield"]'
                        birthDate:
                          type: string
                          format: date
                          example: '1990-05-15'
                        comment:
                          type: string
                          minLength: 1
                          maxLength: 90
                          example: Comentario
                        discountPercentage:
                          type: number
                          minimum: 1
                          maximum: 100
                          example: 100
                        houseAccountEnabled:
                          type: boolean
                          example: true
                        name:
                          type: string
                          minLength: 1
                          maxLength: 90
                          example: Paula
                        email:
                          type: string
                          minLength: 1
                          maxLength: 90
                          format: email
                          example: paula@example.com
                        origin:
                          type: string
                          enum:
                          - RESERVATION
                          example: RESERVATION
                        fiscalAddress:
                          type: object
                          additionalProperties: false
                          properties:
                            postalCode:
                              type: string
                              maxLength: 20
                              example: 12345-678
                            addressType:
                              type: string
                              maxLength: 50
                              example: Commercial
                            state:
                              type: string
                              maxLength: 50
                              example: SP
                            municipality:
                              type: string
                              maxLength: 100
                              example: São Paulo
                            city:
                              type: string
                              maxLength: 100
                              example: São Paulo
                            neighborhood:
                              type: string
                              maxLength: 100
                              example: Centro
                            street:
                              type: string
                              maxLength: 200
                              example: Avenida Paulista
                            number:
                              type: string
                              maxLength: 20
                              example: '1000'
                            economicActivity:
                              type: string
                              maxLength: 100
                              example: Comercio al por menor
                            countryEntity:
                              type: string
                              maxLength: 50
                              example: '11'
                            countrySubentity:
                              type: string
                              maxLength: 50
                              example: '11001'
                        phone:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: +54 11 1234 1234
                        vatNumber:
                          type: string
                          minLength: 1
                          maxLength: 45
                          example: 30-3312341234-9
                    relationships:
                      type: object
                      additionalProperties: false
                      required:
                      - paymentMethod
                      properties:
                        paymentMethod:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: \d{1,10}
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - PaymentMethod
                                  example: PaymentMethod
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Customer
                        example: Customer
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          address:
                            type: string
                            example: '["Calle falsa", "123", "", "Springfield"]'
                          birthDate:
                            type: string
                            format: date
                            example: '1990-05-15'
                          comment:
                            type: string
                            example: comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          discountPercentage:
                            type: number
                            example: 100.5
                          email:
                            type: string
                            example: paula@example.com
                          fiscalAddress:
                            type: object
                            properties:
                              postalCode:
                                type: string
                                example: 12345-678
                              addressType:
                                type: string
                                example: Commercial
                              state:
                                type: string
                                example: SP
                              municipality:
                                type: string
                                example: São Paulo
                              city:
                                type: string
                                example: São Paulo
                              neighborhood:
                                type: string
                                example: Centro
                              street:
                                type: string
                                example: Avenida Paulista
                              number:
                                type: string
                                example: '1000'
                              economicActivity:
                                type: string
                                example: Comercio al por menor
                              countryEntity:
                                type: string
                                example: '11'
                              countrySubentity:
                                type: string
                                example: '11001'
                          firstSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          historicalSalesCount:
                            type: integer
                            example: 25
                          historicalTotalSpent:
                            type: number
                            example: 1250.75
                          houseAccountBalance:
                            type: number
                            example: 100.5
                          houseAccountEnabled:
                            type: boolean
                            example: true
                          lastSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          name:
                            type: string
                            example: Paula
                          origin:
                            type: string
                            example: ONLINE-MENU
                          phone:
                            type: string
                            example: +54 11 1234 1234
                          salesCount:
                            type: integer
                            example: 12
                          vatNumber:
                            type: string
                            example: 30-3312341234-9
                      relationships:
                        type: object
                        properties:
                          paymentMethod:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PaymentMethod
                                    example: PaymentMethod
  /customers/{id}:
    get:
      summary: Get customer
      tags:
      - Customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      - name: filter
        in: query
        description: Object in the form of filter[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            active:
              type: string
              pattern: ^eq\.(true|false)$
              example: eq.true
            firstSaleDate:
              type: string
              pattern: 
                (^(gte|lte)\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?)|(^and\(gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\,lte.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\))
              example: and(gte.2020-05-11T23:15:00Z,lte.2020-05-11T23:15:00Z)
            houseAccountEnabled:
              type: string
              pattern: ^eq\.(true|false)$
              example: eq.true
            lastSaleDate:
              type: string
              pattern: 
                (^(gte|lte)\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?)|(^and\(gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\,lte.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\))
              example: and(gte.2020-05-11T23:15:00Z,lte.2020-05-11T23:15:00Z)
            origin:
              type: string
              pattern: ^(eq\.(ONLINE-MENU|RESERVATION)|is\.null)$
              example: eq.ONLINE-MENU
            salesCount:
              type: string
              pattern: 
                (^(eq|gte|lte|gt|lt)\.\d+$)|(^and\((gte|gt)\.\d+,(lte|lt)\.\d+\))
              example: and(gte.5,lte.20)
            '@all':
              type: string
              pattern: ^fts\..{1,255}$
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Customer
                        example: Customer
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          address:
                            type: string
                            example: '["Calle falsa", "123", "", "Springfield"]'
                          birthDate:
                            type: string
                            format: date
                            example: '1990-05-15'
                          comment:
                            type: string
                            example: comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          discountPercentage:
                            type: number
                            example: 100.5
                          email:
                            type: string
                            example: paula@example.com
                          fiscalAddress:
                            type: object
                            properties:
                              postalCode:
                                type: string
                                example: 12345-678
                              addressType:
                                type: string
                                example: Commercial
                              state:
                                type: string
                                example: SP
                              municipality:
                                type: string
                                example: São Paulo
                              city:
                                type: string
                                example: São Paulo
                              neighborhood:
                                type: string
                                example: Centro
                              street:
                                type: string
                                example: Avenida Paulista
                              number:
                                type: string
                                example: '1000'
                              economicActivity:
                                type: string
                                example: Comercio al por menor
                              countryEntity:
                                type: string
                                example: '11'
                              countrySubentity:
                                type: string
                                example: '11001'
                          firstSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          historicalSalesCount:
                            type: integer
                            example: 25
                          historicalTotalSpent:
                            type: number
                            example: 1250.75
                          houseAccountBalance:
                            type: number
                            example: 100.5
                          houseAccountEnabled:
                            type: boolean
                            example: true
                          lastSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          name:
                            type: string
                            example: Paula
                          origin:
                            type: string
                            example: ONLINE-MENU
                          phone:
                            type: string
                            example: +54 11 1234 1234
                          salesCount:
                            type: integer
                            example: 12
                          vatNumber:
                            type: string
                            example: 30-3312341234-9
                      relationships:
                        type: object
                        properties:
                          paymentMethod:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PaymentMethod
                                    example: PaymentMethod
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
    patch:
      summary: Update customer
      tags:
      - Customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - Customer
                      example: Customer
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        active:
                          type: boolean
                          example: true
                        address:
                          type: string
                          example: Address
                        birthDate:
                          anyOf:
                          - type: string
                            format: date
                            example: '1990-05-15'
                          - type: 'null'
                        comment:
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 90
                            example: Comentario
                          - type: 'null'
                        discountPercentage:
                          anyOf:
                          - type: number
                            minimum: 1
                            maximum: 100
                            example: 100
                          - type: 'null'
                        houseAccountEnabled:
                          type: boolean
                          example: true
                        name:
                          type: string
                          minLength: 1
                          maxLength: 90
                          example: Paula
                        email:
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 90
                            format: email
                            example: paula@example.com
                          - type: 'null'
                        fiscalAddress:
                          anyOf:
                          - type: object
                            additionalProperties: false
                            properties:
                              postalCode:
                                type: string
                                maxLength: 20
                                example: 12345-678
                              addressType:
                                type: string
                                maxLength: 50
                                example: Commercial
                              state:
                                type: string
                                maxLength: 50
                                example: SP
                              municipality:
                                type: string
                                maxLength: 100
                                example: São Paulo
                              city:
                                type: string
                                maxLength: 100
                                example: São Paulo
                              neighborhood:
                                type: string
                                maxLength: 100
                                example: Centro
                              street:
                                type: string
                                maxLength: 200
                                example: Avenida Paulista
                              number:
                                type: string
                                maxLength: 20
                                example: '1000'
                              economicActivity:
                                type: string
                                maxLength: 100
                                example: Comercio al por menor
                              countryEntity:
                                type: string
                                maxLength: 50
                                example: '11'
                              countrySubentity:
                                type: string
                                maxLength: 50
                                example: '11001'
                          - type: 'null'
                        phone:
                          anyOf:
                          - type: string
                            maxLength: 45
                            example: +54 11 1234 1234
                          - type: 'null'
                        vatNumber:
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 45
                            example: 30-3312341234-9
                          - type: 'null'
                    relationships:
                      type: object
                      additionalProperties: false
                      required:
                      - paymentMethod
                      properties:
                        paymentMethod:
                          type: object
                          additionalProperties: false
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              additionalProperties: false
                              required:
                              - id
                              - type
                              properties:
                                id:
                                  type: string
                                  pattern: \d{1,10}
                                  example: '1'
                                type:
                                  type: string
                                  enum:
                                  - PaymentMethod
                                  example: PaymentMethod
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Customer
                        example: Customer
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          address:
                            type: string
                            example: '["Calle falsa", "123", "", "Springfield"]'
                          birthDate:
                            type: string
                            format: date
                            example: '1990-05-15'
                          comment:
                            type: string
                            example: comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          discountPercentage:
                            type: number
                            example: 100.5
                          email:
                            type: string
                            example: paula@example.com
                          fiscalAddress:
                            type: object
                            properties:
                              postalCode:
                                type: string
                                example: 12345-678
                              addressType:
                                type: string
                                example: Commercial
                              state:
                                type: string
                                example: SP
                              municipality:
                                type: string
                                example: São Paulo
                              city:
                                type: string
                                example: São Paulo
                              neighborhood:
                                type: string
                                example: Centro
                              street:
                                type: string
                                example: Avenida Paulista
                              number:
                                type: string
                                example: '1000'
                              economicActivity:
                                type: string
                                example: Comercio al por menor
                              countryEntity:
                                type: string
                                example: '11'
                              countrySubentity:
                                type: string
                                example: '11001'
                          firstSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          historicalSalesCount:
                            type: integer
                            example: 25
                          historicalTotalSpent:
                            type: number
                            example: 1250.75
                          houseAccountBalance:
                            type: number
                            example: 100.5
                          houseAccountEnabled:
                            type: boolean
                            example: true
                          lastSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          name:
                            type: string
                            example: Paula
                          origin:
                            type: string
                            example: ONLINE-MENU
                          phone:
                            type: string
                            example: +54 11 1234 1234
                          salesCount:
                            type: integer
                            example: 12
                          vatNumber:
                            type: string
                            example: 30-3312341234-9
                      relationships:
                        type: object
                        properties:
                          paymentMethod:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PaymentMethod
                                    example: PaymentMethod
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
    delete:
      summary: Delete customer
      tags:
      - Customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      responses:
        '200':
          description: A customer
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Customer
                        example: Customer
                      attributes:
                        type: object
                        properties:
                          active:
                            type: boolean
                            example: true
                          address:
                            type: string
                            example: '["Calle falsa", "123", "", "Springfield"]'
                          birthDate:
                            type: string
                            format: date
                            example: '1990-05-15'
                          comment:
                            type: string
                            example: comment
                          createdAt:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          discountPercentage:
                            type: number
                            example: 100.5
                          email:
                            type: string
                            example: paula@example.com
                          fiscalAddress:
                            type: object
                            properties:
                              postalCode:
                                type: string
                                example: 12345-678
                              addressType:
                                type: string
                                example: Commercial
                              state:
                                type: string
                                example: SP
                              municipality:
                                type: string
                                example: São Paulo
                              city:
                                type: string
                                example: São Paulo
                              neighborhood:
                                type: string
                                example: Centro
                              street:
                                type: string
                                example: Avenida Paulista
                              number:
                                type: string
                                example: '1000'
                              economicActivity:
                                type: string
                                example: Comercio al por menor
                              countryEntity:
                                type: string
                                example: '11'
                              countrySubentity:
                                type: string
                                example: '11001'
                          firstSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          historicalSalesCount:
                            type: integer
                            example: 25
                          historicalTotalSpent:
                            type: number
                            example: 1250.75
                          houseAccountBalance:
                            type: number
                            example: 100.5
                          houseAccountEnabled:
                            type: boolean
                            example: true
                          lastSaleDate:
                            type: string
                            format: date-time
                            example: '2020-05-11T23:15:00.000Z'
                          name:
                            type: string
                            example: Paula
                          origin:
                            type: string
                            example: ONLINE-MENU
                          phone:
                            type: string
                            example: +54 11 1234 1234
                          salesCount:
                            type: integer
                            example: 12
                          vatNumber:
                            type: string
                            example: 30-3312341234-9
                      relationships:
                        type: object
                        properties:
                          paymentMethod:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PaymentMethod
                                    example: PaymentMethod
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
  /discounts:
    get:
      summary: Get discounts
      tags:
      - Discounts
      parameters:
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|)(,(?!$))?)+$
          example:
          - id
          - -id
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((sale)(,(?!$))?)+$
          example:
          - sale
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - Discount
                          example: Discount
                        attributes:
                          type: object
                          properties:
                            amount:
                              type: number
                              example: 100.5
                            canceled:
                              type: boolean
                              example: false
                            percentage:
                              type: number
                              example: 15
                            maxAmount:
                              type: number
                              example: 100.5
                        relationships:
                          type: object
                          properties:
                            sale:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - Sale
                                      example: Sale
                            item:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - Item
                                      example: Item
                            discountTemplate:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - DiscountTemplate
                                      example: DiscountTemplate
    post:
      summary: Create discount
      tags:
      - Discounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - Discount
                      example: Discount
                    attributes:
                      anyOf:
                      - type: object
                        additionalProperties: false
                        required:
                        - amount
                        properties:
                          amount:
                            type: number
                            example: 100.5
                      - type: object
                        additionalProperties: false
                        required:
                        - percentage
                        properties:
                          percentage:
                            type: number
                            minimum: 1
                            maximum: 100
                            example: 15
                    relationships:
                      type: object
                      oneOf:
                      - additionalProperties: false
                        required:
                        - sale
                        properties:
                          sale:
                            type: object
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              data:
                                type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Sale
                                    example: Sale
                          discountTemplate:
                            type: object
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              data:
                                type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - DiscountTemplate
                                    example: DiscountTemplate
                      - additionalProperties: false
                        required:
                        - item
                        properties:
                          item:
                            type: object
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              data:
                                type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Item
                                    example: Item
                          discountTemplate:
                            type: object
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              data:
                                type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - DiscountTemplate
                                    example: DiscountTemplate
      responses:
        '201':
          description: The created resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Discount
                        example: Discount
                      attributes:
                        type: object
                        properties:
                          amount:
                            type: number
                            example: 100.5
                          canceled:
                            type: boolean
                            example: false
                          percentage:
                            type: number
                            example: 15
                          maxAmount:
                            type: number
                            example: 100.5
                      relationships:
                        type: object
                        properties:
                          sale:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Sale
                                    example: Sale
                          item:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Item
                                    example: Item
                          discountTemplate:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - DiscountTemplate
                                    example: DiscountTemplate
  /discounts/{id}:
    get:
      summary: Get discount
      tags:
      - Discounts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((sale)(,(?!$))?)+$
          example:
          - sale
      responses:
        '200':
          description: A single resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Discount
                        example: Discount
                      attributes:
                        type: object
                        properties:
                          amount:
                            type: number
                            example: 100.5
                          canceled:
                            type: boolean
                            example: false
                          percentage:
                            type: number
                            example: 15
                          maxAmount:
                            type: number
                            example: 100.5
                      relationships:
                        type: object
                        properties:
                          sale:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Sale
                                    example: Sale
                          item:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Item
                                    example: Item
                          discountTemplate:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - DiscountTemplate
                                    example: DiscountTemplate
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
    patch:
      summary: Update discount
      tags:
      - Discounts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: \d{1,10}
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      pattern: ^\d{1,10}$
                      example: '1'
                    type:
                      type: string
                      enum:
                      - Discount
                      example: Discount
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - canceled
                      properties:
                        canceled:
                          type: boolean
                          enum:
                          - true
                          example: true
      responses:
        '200':
          description: The updated resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: \d{1,10}
                        example: '1'
                      type:
                        type: string
                        enum:
                        - Discount
                        example: Discount
                      attributes:
                        type: object
                        properties:
                          amount:
                            type: number
                            example: 100.5
                          canceled:
                            type: boolean
                            example: false
                          percentage:
                            type: number
                            example: 15
                          maxAmount:
                            type: number
                            example: 100.5
                      relationships:
                        type: object
                        properties:
                          sale:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Sale
                                    example: Sale
                          item:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Item
                                    example: Item
                          discountTemplate:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    pattern: \d{1,10}
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - DiscountTemplate
                                    example: DiscountTemplate
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
  /expenses:
    get:
      summary: Get expenses
      tags:
      - Expenses
      parameters:
      - name: fields
        in: query
        description: Object in the form of fields[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            expense:
              type: string
              pattern: 
                ^((amount|canceled|cashRegister|createdAt|commercialDocument|date|description|dueDate|expenseCategory|expenseItems|paymentDate|paymentMethod|payments|provider|receiptNumber|receiptType|recurringExpense|status|useInCashCount|user)(,(?!$))?)*$
              example: amount
            cashRegister:
              type: string
              pattern: ^((name)(,(?!$))?)*$
              example: name
            expenseCategory:
              type: string
              pattern: ^((name)(,(?!$))?)*$
              example: name
            paymentMethod:
              type: string
              pattern: ^((code|name)(,(?!$))?)*$
              example: name
            provider:
              type: string
              pattern: ^((name)(,(?!$))?)*$
              example: name
            receiptType:
              type: string
              pattern: ^((name)(,(?!$))?)*$
              example: name
            product:
              type: string
              pattern: ^((cost|unit|name)(,(?!$))?)*$
              example: name
            recurringExpense:
              type: string
              pattern: ^((rrule)(,(?!$))?)*$
              example: rrule
            ingredient:
              type: string
              pattern: ^((cost|unit|name)(,(?!$))?)*$
              example: name
            expenseItem:
              type: string
              pattern: 
                ^((canceled|detail|price|product|ingredient|quantity)(,(?!$))?)*$
              example: price
            payment:
              type: string
              pattern: 
                ^((amount|created_at|updated_at|paid_at|canceled|paymentMethod|cashRegister)(,(?!$))?)*$
            user:
              type: string
              pattern: ^((name)(,(?!$))?)*$
              example: name
            commercialDocument:
              type: string
              pattern: ^((docUrl|taxes)(,(?!$))?)*$
              example: taxes
      - name: filter
        in: query
        description: Object in the form of filter[column]=value.
        schema:
          type: object
          additionalProperties: false
          properties:
            cashRegisterId:
              type: string
              pattern: ^eq\.\d+
              example: eq.1
            canceled:
              type: string
              pattern: ^(neq|eq)\.true$
              example: neq.true
            createdAt:
              type: string
              pattern: 
                (^gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?)|(^and\(gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\,lte.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\))
              example: and.(gte.2020-05-11T23:15:00Z,lte.2020-05-11T23:15:00Z)
            createdById:
              type: string
              pattern: ^eq\.\d+
              example: eq.1
            date:
              type: string
              pattern: 
                (^gte\.\d{4}-\d{2}-\d{2})|(^and\(gte\.\d{4}-\d{2}-\d{2}\,lte\.\d{4}-\d{2}-\d{2}\))
              example: and.(gte.2020-05-11,lte.2020-05-11)
            dueDate:
              type: string
              pattern: 
                (^gte\.\d{4}-\d{2}-\d{2})|(^and\(gte\.\d{4}-\d{2}-\d{2}\,lte\.\d{4}-\d{2}-\d{2}\))
              example: and.(gte.2020-05-11,lte.2020-05-11)
            expenseCategoryId:
              type: string
              pattern: ^eq\.\d+$|^in.\(\d+(,\d+)*\)$
              example: in.(1,3,2345)
            paymentMethodId:
              type: string
              pattern: 
                ^(eq\.\d+)|(isdistinct\.null)|(is\.null)|(and\((eq\.\d+)|(isdistinct\.null)|(is\.null)\,(eq\.\d+)|(isdistinct\.null)|(is\.null)\))$
              example: eq.1
            providerId:
              type: string
              pattern: ^eq\.\d+
              example: eq.1
            receiptTypeId:
              type: string
              pattern: ^eq\.\d+
              example: eq.1
            status:
              type: string
              enum:
              - eq.PAID
              - eq.UNPAID
            expenseCategories:
              type: object
              additionalProperties: false
              properties:
                financialCategory:
                  type: string
                  enum:
                  - eq.ADMINISTRATIVE-EXPENSES
                  - eq.OPERATIONAL-EXPENSES
                  - eq.GOODS-PURCHASES
                  - in.(ADMINISTRATIVE-EXPENSES,OPERATIONAL-EXPENSES)
            payments:
              type: object
              additionalProperties: false
              properties:
                paymentMethodId:
                  type: string
                  pattern: ^eq\.\d+$|^in.\(\d+(,\d+)*\)$
                  example: in(1,2,3)
                cashRegisterId:
                  type: string
                  pattern: ^(isdistinct\.null|eq\.\d+)$
                  example: eq.1
                canceled:
                  type: string
                  pattern: ^(neq|eq)\.true$
                  example: neq.true
                createdAt:
                  type: string
                  pattern: 
                    (^gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?)|(^and\(gte\.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\,lte.\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(Z)?\))
                  example: 
                    and.(gte.2020-05-11T23:15:00Z,lte.2020-05-11T23:15:00Z)
      - name: page
        in: query
        description: Page number and size.
        schema:
          type: object
          additionalProperties: false
          properties:
            number:
              type: string
              pattern: ^\d+$
            size:
              type: string
              pattern: ^\d+$
      - name: sort
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: ^((-?id|-?createdAt|-?date|-?dueDate)(,(?!$))?)+$
          example:
          - id
          - -id
      - name: include
        in: query
        description: Comma-separated list. See pattern for possible values.
        schema:
          type: string
          pattern: 
            ^((cashRegister|commercialDocument|expenseCategory|expenseItems|expenseItems.product|expenseItems.product.unit|expenseItems.ingredient|expenseItems.ingredient.unit|payments|payments.paymentMethod|payments.cashRegister|provider|paymentMethod|recurringExpense|user|receiptType)(,(?!$))?)+$
          example: provider,expenseCategory
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: \d{1,10}
                          example: '1'
                        type:
                          type: string
                          enum:
                          - Expense
                          example: Expense
                        relationships:
                          type: object
                          properties:
                            recurringExpense:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      pattern: \d{1,10}
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - RecurringExpense
                                      example: RecurringExpense
    post:
      summary: Create expense
      tags:
      - Expenses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                additionalProperties: false
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - attributes
                    properties:
                      type:
                        type: string
                        enum:
                        - Expense
                        example: Expense
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - amount
                        - date
                        properties:
                          amount:
                            type: number
                            maximum: 99999999.99
                            minimum: 0
                            example: 100.55
                          date:
                            type: string
                            format: date
                            example: 2023-11-10
                          useInCashCount:
                            type: boolean
                            example: true
                          receiptNumber:
                            type:
                            - string
                            - 'null'
                            example: '123'
                            minLength: 1
                            maxLength: 45
                          description:
                            type: string
                            example: This is a comment
                            maxLength: 255
                          paymentDate:
                            type:
                            - string
                            - 'null'
                            format: date
                            example: 2024-11-5
                          dueDate:
                            type: string
                            format: date
                            example: 2024-11-5
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          expenseCategory:
                            type: object
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              data:
                                type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ExpenseCategory
                                    example: ExpenseCategory
                          paymentMethod:
                            type: object
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              data:
                                type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - PaymentMethod
                                    example: PaymentMethod
                          commercialDocument:
                            type: object
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              data:
                                type:
                                - object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - CommercialDocument
                                    example: CommercialDocument
                                  lid:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                          provider:
                            type: object
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              data:
                                type:
                                - object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - Provider
                                    example: Provider
                          cashRegister:
                            type:
                            - object
                            - 'null'
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - CashRegister
                                    example: CashRegister
                          receiptType:
                            type: object
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              data:
                                type:
                                - object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    pattern: ^\d{1,10}$
                                    example: '1'
                                  type:
                                    type: string
                                    enum:
                                    - ReceiptType
                                    example: ReceiptType
              - type: object
                additionalProperties: false
                required:
                - bulk:data
                properties:
                  bulk:data:
                    type: array
                    items:
                      type: object
                      required:
                      - type
                      - attributes
                      properties:
                        type:
                          type: string
                          enum:
                          - Expense
                          example: Expense
                        attributes:
                          type: object
                          additionalProperties: false
                          required:
                          - amount
                          - date
                          properties:
                            amount:
                              type: number
                              maximum: 99999999.99
                              minimum: 0
                              example: 100.55
                            date:
                              type: string
                              format: date
                              example: 2023-11-10
                            useInCashCount:
                              type: boolean
                              example: true
                            receiptNumber:
                              type:
                              - string
                              - 'null'
                              example: '123'
                              minLength: 1
                              maxLength: 45
                            description:
                              type: string
                              example: This is a comment
                              maxLength: 255
                            paymentDate:
                              type:
                              - string
                              - 'null'
                              format: date
                              example: 2024-11-5
                            dueDate:
                              type: string
                              format: date
                              example: 2024-11-5
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            expenseCategory:
                              type: object
                              additionalProperties: false
                              required:
                              - data
                              properties:
                                data:
                                  type: object
                                  additionalProperties: false
                                  required:
                                  - id
                                  - type
                                  properties:
                                    id:
                                      type: string
                                      pattern: ^\d{1,10}$
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - ExpenseCategory
                                      example: ExpenseCategory
                            paymentMethod:
                              type: object
                              additionalProperties: false
                              required:
                              - data
                              properties:
                                data:
                                  type: object
                                  additionalProperties: false
                                  required:
                                  - id
                                  - type
                                  properties:
                                    id:
                                      type: string
                                      pattern: ^\d{1,10}$
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - PaymentMethod
                                      example: PaymentMethod
                            commercialDocument:
                              type: object
                              additionalProperties: false
                              required:
                              - data
                              properties:
                                data:
                                  type:
                                  - object
                                  additionalProperties: false
                                  required:
                                  - id
                                  - type
                                  properties:
                                    id:
                                      type: string
                                      pattern: ^\d{1,10}$
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - CommercialDocument
                                      example: CommercialDocument
                                    lid:
                                      type: string
                                      pattern: ^\d{1,10}$
                                      example: '1'
                            provider:
                              type: object
                              additionalProperties: false
                              required:
                              - data
                              properties:
                                data:
                                  type:
                                  - object
                                  additionalProperties: false
                                  required:
                                  - id
                                  - type
                                  properties:
                                    id:
                                      type: string
                                      pattern: ^\d{1,10}$
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - Provider
                                      example: Provider
                            cashRegister:
                              type:
                              - object
                              - 'null'
                              additionalProperties: false
                              required:
                              - data
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  additionalProperties: false
                                  required:
                                  - id
                                  - type
                                  properties:
                                    id:
                                      type: string
                                      pattern: ^\d{1,10}$
                                      example: '1'
                                    type:
                                      type: string
                                      enum:
                                      - CashRegister
                                      example: CashRegister
                            receiptType:
                              type: object
[...]
